Repository woowacourse-teams/2022-review-duck, pull requests merged in 2022-11, with the labels that each got.

#635 PageSuspense 컴포넌트에서 Recoil 제거 및 Context만으로 구현
  frontend/src/App.tsx
  frontend/src/common/components/PageSuspense/PagePrgress.tsx
  frontend/src/common/components/PageSuspense/Provider.tsx
  frontend/src/common/components/PageSuspense/index.tsx
  frontend/src/common/components/PageSuspense/store.ts
  frontend/src/service/layout/MainLayout/index.tsx
  frontend/src/service/pages/MainPage/index.tsx
  frontend/src/service/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/pages/TemplateDetailPage/index.tsx
  frontend/src/service/pages/TemplateEditorPage/index.tsx
  frontend/src/service/pages/TemplateListPage/index.tsx
  frontend/src/service/pages/UserProfilePage/index.tsx
Labels: front-end, 리팩토링

#637 Snackbar, TransitionDiv, Modal 변경된 컨벤션 적용
  frontend/src/App.tsx
  frontend/src/common/components/Modal/index.tsx
  frontend/src/common/components/Snackbar/component.tsx
  frontend/src/common/components/Snackbar/index.tsx
  frontend/src/common/components/SnackbarProvider/index.tsx
  frontend/src/common/components/TransitionDiv/index.tsx
  frontend/src/common/components/index.ts
  frontend/src/common/hooks/useSnackbar.ts
  frontend/src/common/recoil/snackbar/atom.ts
  frontend/src/common/types/index.ts
  frontend/src/service/components/ModalProvider/index.tsx
Labels: front-end, 리팩토링

#641 ReviewFormAggregator 제거
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormAggregator.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/test/java/com/reviewduck/common/service/ServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
Labels: back-end

#645 Aggregator 계층 삭제
  backend/reviewduck/src/main/java/com/reviewduck/ReviewduckApplication.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/controller/AdminMemberController.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/controller/AdminReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/controller/AdminReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/controller/AdminTemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/repository/AdminMemberRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminMemberAggregator.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminMemberService.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminReviewAggregator.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminTemplateAggregator.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminTemplateService.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AdminAuthenticationPrincipalArgumentResolver.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthenticationPrincipalArgumentResolver.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/service/AuthService.java
  backend/reviewduck/src/main/java/com/reviewduck/common/annotation/Aggregator.java
  backend/reviewduck/src/main/java/com/reviewduck/member/controller/MemberController.java
  backend/reviewduck/src/main/java/com/reviewduck/member/dto/response/MemberResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/member/repository/MemberRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/member/service/MemberAggregator.java
  backend/reviewduck/src/main/java/com/reviewduck/member/service/MemberService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewAggregator.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormAggregator.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateAggregator.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateService.java
  backend/reviewduck/src/test/java/com/reviewduck/admin/service/AdminMemberServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/admin/service/AdminReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/admin/service/AdminReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/common/acceptance/AcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/common/controller/ControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/common/service/ServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/service/MemberServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
  backend/reviewduck/src/test/resources/application.properties
Labels: back-end, 리팩토링

#643 페이지 서스펜스 state 업데이트시 warning 해결
  frontend/src/common/components/PageSuspense/index.tsx
  frontend/src/service/pages/UserProfilePage/index.tsx
Labels: front-end, 버그

#647 변수명 변경 및 ServiceTest Autowired 위치 변경
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/test/java/com/reviewduck/common/service/ServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/service/MemberServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
Labels: back-end, 테스트, 리팩토링

#649 회고 답변 수정시 불필요한 질문_답변이 자동으로 삭제되도록 변경
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Review.java
Labels: back-end, 버그

#650 회고 답변 목록 시트뷰 버그 수정
  frontend/src/service/hooks/queries/review/useGet.ts
Labels: front-end, 버그

#652 [FE] fix : answer null 타입 처리
  frontend/src/service/pages/MainPage/container/Timeline/index.tsx
  frontend/src/service/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/types/review.ts
Labels: front-end, 핫픽스

#656 템플릿 검색 시 페이지 번호 오류 문제 해결
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
Labels: back-end, 버그
