Repository woowacourse-teams/2022-review-duck, pull requests merged in 2022-08, with the labels that each got.

#170 로그 파일 경로 추가
  backend/reviewduck/src/main/resources/application.properties
Labels: back-end, 설정

#172 회고 폼 Soft Delete 기능 리팩토링
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormRepositoryTest.java
Labels: back-end, 리팩토링

#164 Recoil 및 SVGR 설치/설정, Snackbar 구현 및 적용
  frontend/.design-tokens/designTokens.json
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.dev.js
  frontend/index.d.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/PageRoutes.tsx
  frontend/src/assets/images/logo-bold.svg
  frontend/src/assets/images/logo-border-bold.svg
  frontend/src/assets/images/logo-border-default.svg
  frontend/src/assets/images/logo-default.svg
  frontend/src/common/components/Button/index.tsx
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/common/components/Effect/index.tsx
  frontend/src/common/components/Effect/styles.module.scss
  frontend/src/common/components/FieldSet/index.tsx
  frontend/src/common/components/Logo/index.tsx
  frontend/src/common/components/Skeleton/styles.module.scss
  frontend/src/common/components/Snackbar/index.stories.jsx
  frontend/src/common/components/Snackbar/index.tsx
  frontend/src/common/components/Snackbar/styles.module.scss
  frontend/src/common/components/SnackbarContainer/index.tsx
  frontend/src/common/components/Text/index.tsx
  frontend/src/common/components/TextBox/index.stories.jsx
  frontend/src/common/components/TextBox/index.tsx
  frontend/src/common/components/TransitionDiv/animations/drop.scss
  frontend/src/common/components/TransitionDiv/animations/fade.scss
  frontend/src/common/components/TransitionDiv/index.tsx
  frontend/src/common/components/TransitionDiv/styles.module.scss
  frontend/src/common/components/index.ts
  frontend/src/common/hooks/useSnackbar.ts
  frontend/src/common/recoil/snackbar/atom.ts
  frontend/src/common/recoil/snackbar/index.ts
  frontend/src/common/recoil/snackbar/selector.ts
  frontend/src/common/types/index.ts
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/user/useGetUserProfie.ts
  frontend/src/service/@shared/pages/Authorize/index.tsx
  frontend/src/service/@shared/utils/axiosInstanceUtils.ts
  frontend/src/service/@shared/utils/getErrorMessage.ts
  frontend/src/service/@shared/utils/index.ts
  frontend/src/service/@shared/validator/index.ts
  frontend/src/service/community/layout/CommunityLayout/index.tsx
  frontend/src/service/community/layout/CommunityLayout/styles.module.scss
  frontend/src/service/review/components/QuestionCard/styles.module.scss
  frontend/src/service/review/components/QuestionEditor/styles.module.scss
  frontend/src/service/review/pages/Playground/index.tsx
  frontend/src/service/review/pages/ReviewFormPage/index.tsx
  frontend/src/service/review/pages/ReviewPage/index.tsx
  frontend/src/service/review/pages/ReviewPage/styles.module.scss
  frontend/src/styles/animation.scss
  frontend/src/styles/designTokens.scss
  frontend/src/styles/theme.scss
  frontend/yarn.lock
Labels: front-end, 기능

#173 flyway를 사용한 ddl 버전 관리
  backend/reviewduck/build.gradle
  backend/reviewduck/src/main/resources/application.properties
  backend/reviewduck/src/main/resources/database/migration/V0__init.ddl
  backend/reviewduck/src/main/resources/database/migration/V1__add_member.ddl
  backend/reviewduck/src/main/resources/database/migration/V2__add_review_form_is_active.ddl
  backend/reviewduck/src/main/resources/database/migration/Version1_init.sql
  backend/reviewduck/src/main/resources/database/migration/Version2_createTemplate.sql
  backend/reviewduck/src/main/resources/database/migration/Version3_addTime.sql
Labels: back-end, 기능

#174 회고 수정 기능 리팩토링
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Answer.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/request/AnswerUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/request/ReviewUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/QuestionAnswerResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewSummaryResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
Labels: back-end, 기능

#177 Refresh Token 갱신 시 변경된 API 명세 적용
  frontend/src/service/@shared/api/index.ts
Labels: front-end, 설정

#178 마이페이지 초안 구현, API 업데이트에 따른 overview 수정
  frontend/.design-tokens/designTokens.json
  frontend/docs/convention.md
  frontend/src/PageRoutes.tsx
  frontend/src/service/@shared/components/LayoutContainer/index.tsx
  frontend/src/service/@shared/components/LayoutContainer/styles.module.scss
  frontend/src/service/@shared/components/QuestionContent/index.stories.jsx
  frontend/src/service/@shared/components/QuestionContent/index.tsx
  frontend/src/service/@shared/components/QuestionContent/styles.module.scss
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/user/useGetAccessToken.ts
  frontend/src/service/@shared/hooks/queries/user/useGetUserProfie.ts
  frontend/src/service/@shared/types/index.ts
  frontend/src/service/community/api/index.ts
  frontend/src/service/community/hooks/queries/useGetMyReviewForms.ts
  frontend/src/service/community/hooks/queries/useGetMyReviews.ts
  frontend/src/service/community/layout/CommunityLayout/Header.tsx
  frontend/src/service/community/layout/CommunityLayout/index.tsx
  frontend/src/service/community/layout/CommunityLayout/styles.module.scss
  frontend/src/service/community/pages/MyPage/containers/ReviewList/index.tsx
  frontend/src/service/community/pages/MyPage/containers/ReviewList/styles.module.scss
  frontend/src/service/community/pages/MyPage/index.tsx
  frontend/src/service/community/pages/MyPage/styles.module.scss
  frontend/src/service/community/pages/MyPage/useMyPageQueries.ts
  frontend/src/service/community/types/index.ts
  frontend/src/service/review/api/index.ts
  frontend/src/service/review/components/QuestionCard/styles.module.scss
  frontend/src/service/review/hooks/queries/useCreateReviewAnswer.ts
  frontend/src/service/review/hooks/queries/useDeleteReview.ts
  frontend/src/service/review/hooks/queries/useDeleteReviewForm.ts
  frontend/src/service/review/hooks/queries/useGetReviewForm.ts
  frontend/src/service/review/hooks/queries/useGetReviews.ts
  frontend/src/service/review/hooks/queries/useUpdateReviewForm.ts
  frontend/src/service/review/pages/MainPage/index.tsx
  frontend/src/service/review/pages/ReviewFormPage/index.tsx
  frontend/src/service/review/pages/ReviewFormPage/useReviewFormQueries.ts
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewHeader.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewListMain.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSheetView.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSideMenu.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/useOverviewQueries.ts
  frontend/src/service/review/pages/ReviewPage/index.tsx
  frontend/src/service/review/pages/ReviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewPage/useReviewQueries.ts
  frontend/src/service/review/types/index.ts
  frontend/src/styles/@app.scss
  frontend/src/styles/designTokens.scss
  frontend/src/styles/globalStyles.scss
  frontend/src/styles/theme.scss
Labels: front-end, 기능, 리팩토링

#181 PopupBox 컴포넌트 추가 및 Community Layout 헤더 로그인 상태 적용
  frontend/src/common/components/PopupBox/index.stories.jsx
  frontend/src/common/components/PopupBox/index.tsx
  frontend/src/common/components/PopupBox/styles.module.scss
  frontend/src/common/components/index.ts
  frontend/src/service/@shared/api/index.ts
  frontend/src/service/@shared/components/RequireAuth/index.tsx
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/user/useGetUserProfile.ts
  frontend/src/service/@shared/hooks/useAuth.ts
  frontend/src/service/community/layout/CommunityLayout/Header.tsx
  frontend/src/service/community/layout/CommunityLayout/index.tsx
  frontend/src/service/community/layout/CommunityLayout/styles.module.scss
Labels: front-end, 기능

#182 마이페이지에 유저 정보를 연결하고 세부사항 구현
  frontend/.eslintrc.json
  frontend/src/service/@shared/api/axiosInstance.ts
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/community/pages/MyPage/containers/ReviewList/index.tsx
  frontend/src/service/community/pages/MyPage/index.tsx
  frontend/src/service/community/pages/MyPage/useMyPageQueries.ts
  frontend/src/service/review/hooks/queries/useCreateReviewAnswer.ts
  frontend/src/service/review/hooks/queries/useCreateReviewForm.ts
  frontend/src/service/review/hooks/queries/useUpdateReviewForm.ts
  frontend/src/service/review/pages/ReviewFormPage/useReviewFormQueries.ts
Labels: front-end, 기능, 리팩토링

#184 회고 조회시 회고 작성자가 아닌, 조회자가 반환되는 버그 해결
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewResponse.java
Labels: back-end, 버그

#185 개발용 서버 API 환경변수 적용
  frontend/env/development.env
Labels: front-end, 설정

#186 회원 프로필 조회 시 변경된 API 명세 적용, API 요청 최소화
  frontend/src/service/@shared/hooks/useAuth.ts
  frontend/src/service/@shared/types/index.ts
  frontend/src/service/community/pages/MyPage/index.tsx
  frontend/src/service/community/pages/MyPage/useMyPageQueries.ts
Labels: front-end, 버그, 리팩토링

#188 TransitionDiv 컴포넌트 리팩토링 진행
  frontend/src/App.tsx
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/common/components/SnackbarProvider/index.tsx
  frontend/src/common/components/TransitionDiv/index.tsx
  frontend/src/common/components/TransitionDiv/styles.module.scss
  frontend/src/common/components/index.ts
Labels: front-end, 리팩토링

#189 모달 기능 구현
  frontend/src/App.tsx
  frontend/src/common/components/Modal/index.stories.jsx
  frontend/src/common/components/Modal/index.tsx
  frontend/src/common/components/Modal/styles.module.scss
  frontend/src/common/components/ModalProvider/index.tsx
  frontend/src/common/components/index.ts
  frontend/src/common/hooks/useModal.ts
  frontend/src/common/recoil/modal/atom.ts
  frontend/src/common/recoil/modal/index.ts
  frontend/src/service/@shared/pages/modals/ModalStartReview.tsx
  frontend/src/service/@shared/pages/modals/index.ts
Labels: front-end, 기능

#193 프로덕션 빌드 API 환경변수 수정
  frontend/env/production.env
Labels: front-end, 설정

#194 test 관련 리팩토링
  backend/reviewduck/src/main/java/com/reviewduck/auth/config/AuthenticationPrincipalConfig.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthInterceptor.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/dto/service/TokensDto.java
  backend/reviewduck/src/main/java/com/reviewduck/common/controller/ControllerAdvice.java
  backend/reviewduck/src/main/java/com/reviewduck/common/util/Logging.java
  backend/reviewduck/src/main/java/com/reviewduck/config/xss/XssConfig.java
  backend/reviewduck/src/main/java/com/reviewduck/member/controller/MemberController.java
  backend/reviewduck/src/main/java/com/reviewduck/member/dto/response/MemberResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/test/java/com/reviewduck/member/acceptance/MemberAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/domain/MemberTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/repository/MemberRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/service/MemberServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewFormTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/domain/TemplateTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
Labels: back-end, 테스트

#196 사용자 닉네임 변경 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/member/controller/MemberController.java
  backend/reviewduck/src/main/java/com/reviewduck/member/domain/Member.java
  backend/reviewduck/src/main/java/com/reviewduck/member/dto/request/MemberUpdateNicknameRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/member/service/MemberService.java
  backend/reviewduck/src/main/resources/database/migration/V1__addMemberData.ddl
  backend/reviewduck/src/test/java/com/reviewduck/member/acceptance/MemberAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/controller/MemberControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/domain/MemberTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/service/MemberServiceTest.java
Labels: back-end, 기능

#191 줄바꿈이 가능한 Textarea 컴포넌트 구현
  frontend/src/common/components/Textarea/indes.stories.jsx
  frontend/src/common/components/Textarea/index.tsx
  frontend/src/common/components/Textarea/styles.module.scss
  frontend/src/common/components/index.ts
  frontend/src/service/@shared/components/QuestionContent/styles.module.scss
  frontend/src/service/review/pages/ReviewPage/index.tsx
  frontend/src/service/review/pages/ReviewPage/useReviewQueries.ts
  frontend/src/styles/@app.scss
Labels: front-end, 기능

#212 인증 관련 오류 해결
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthController.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/service/AuthService.java
Labels: back-end, 버그

#197 사용자 행동 결과에 대해 스낵바 적용
  frontend/src/service/community/pages/MyPage/containers/ReviewList/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSideMenu.tsx
Labels: front-end, 리팩토링

#199 메인페이지 ReviewList 제목에 <Link> 태그 기본 스타일 무효화
  frontend/src/service/community/pages/MyPage/containers/ReviewList/index.tsx
  frontend/src/service/community/pages/MyPage/containers/ReviewList/styles.module.scss
Labels: front-end, 리팩토링

#202 결과없음 NoResult 컴포넌트 구현 및 적용
  frontend/src/common/components/Logo/index.tsx
  frontend/src/service/@shared/components/NoResult/index.stories.jsx
  frontend/src/service/@shared/components/NoResult/index.tsx
  frontend/src/service/@shared/components/NoResult/styles.module.scss
  frontend/src/service/@shared/components/QuestionContent/index.stories.jsx
  frontend/src/service/community/pages/MyPage/containers/ReviewList/index.tsx
  frontend/src/service/community/pages/MyPage/containers/ReviewList/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewListMain.tsx
Labels: front-end, 기능

#203 회고 참여자 리스트 구현
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewListMain.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSideMenu.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewPage/styles.module.scss
Labels: front-end, 기능

#214 인증 관련 오류 해결
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthController.java
Labels: back-end, 버그

#205 회고 시작하기 모달 구현
  frontend/.eslintrc.json
  frontend/src/App.tsx
  frontend/src/PageRoutes.tsx
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/common/components/Modal/styles.module.scss
  frontend/src/common/components/ModalProvider/index.tsx
  frontend/src/common/components/Snackbar/index.tsx
  frontend/src/common/components/TransitionDiv/index.tsx
  frontend/src/common/hooks/useModal.ts
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/pages/modals/ModalReviewJoin/index.tsx
  frontend/src/service/@shared/pages/modals/ModalReviewJoin/styles.module.scss
  frontend/src/service/@shared/pages/modals/ModalReviewStart/index.tsx
  frontend/src/service/@shared/pages/modals/ModalReviewStart/styles.module.scss
  frontend/src/service/@shared/pages/modals/ModalStartReview.tsx
  frontend/src/service/@shared/pages/modals/index.ts
  frontend/src/service/@shared/validator/index.ts
  frontend/src/service/community/layout/CommunityLayout/Header.tsx
  frontend/src/service/community/pages/MyPage/containers/ReviewList/styles.module.scss
Labels: front-end, 기능

#207 사용자 로그아웃 기능 구현
  frontend/env/production.env
  frontend/src/PageRoutes.tsx
  frontend/src/service/@shared/api/index.ts
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/user/useDeleteRefreshToken.ts
  frontend/src/service/@shared/hooks/useAuth.ts
  frontend/src/service/@shared/pages/Logout/index.tsx
  frontend/src/service/community/layout/CommunityLayout/Header.tsx
Labels: front-end, 기능

#216 회고 수정시 회고 수정 시각이 update 되지 않는 버그 해결
  backend/reviewduck/src/main/java/com/reviewduck/common/domain/BaseDate.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
Labels: back-end, 버그

#208 타임 스탬프가 그대로 노출되던 문제 해결
  frontend/src/common/components/SnackbarProvider/index.tsx
  frontend/src/common/hooks/useSnackbar.ts
  frontend/src/common/recoil/snackbar/atom.ts
  frontend/src/common/recoil/snackbar/selector.ts
  frontend/src/common/types/index.ts
  frontend/src/service/@shared/utils/getElapsedTimeText.ts
  frontend/src/service/@shared/utils/index.ts
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewListMain.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSideMenu.tsx
Labels: front-end, 기능, 버그

#220 오버뷰, 회고리뷰 페이지 접근 에러시 적절하게 리다이렉트 및 각종 버그 수정
  frontend/src/service/@shared/components/QuestionContent/styles.module.scss
  frontend/src/service/review/pages/MainPage/index.tsx
  frontend/src/service/review/pages/ReviewFormPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSheetView.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSideMenu.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewPage/index.tsx
Labels: front-end, 버그

#223 메인페이지 구현
  frontend/.design-tokens/designTokens.json
  frontend/src/PageRoutes.tsx
  frontend/src/service/@shared/components/NoResult/index.tsx
  frontend/src/service/@shared/components/NoResult/styles.module.scss
  frontend/src/service/@shared/components/QuestionCard/index.stories.jsx
  frontend/src/service/@shared/components/QuestionCard/index.tsx
  frontend/src/service/@shared/components/QuestionCard/styles.module.scss
  frontend/src/service/community/layout/CommunityLayout/styles.module.scss
  frontend/src/service/community/pages/MainPage/index.tsx
  frontend/src/service/community/pages/MainPage/styles.module.scss
  frontend/src/service/community/pages/MyPage/containers/ReviewList/index.tsx
  frontend/src/service/community/pages/MyPage/containers/ReviewList/styles.module.scss
  frontend/src/service/review/pages/ReviewFormPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewListMain.tsx
  frontend/src/styles/designTokens.scss
Labels: front-end, 기능

#224 시멘틱 버전 관리 자동화
  .github/workflows/frontend-design-tokens-converter.yml
  .github/workflows/frontend-semantic-versioning.yml
Labels: front-end, 기능, 설정

#227 회고 답변 업데이트 에서 answerId가 없을 때 null 처리
  frontend/src/service/review/pages/ReviewPage/index.tsx
  frontend/src/service/review/types/index.ts
Labels: front-end, 버그

#229 버전 관리 액션이 작동되지 않는 문제 해결
  .github/workflows/frontend-semantic-versioning.yml
Labels: front-end, 버그

#231 XSS 필터로 이모지가 포함된 글자열 내보낼 때 오류 수정
  backend/reviewduck/src/main/java/com/reviewduck/config/xss/HTMLCharacterEscapes.java
  backend/reviewduck/src/test/java/com/reviewduck/filter/XssFilterTest.java
Labels: back-end, 버그

#233 데모 데이 전 UI 디테일 수정
  .gitignore
  frontend/package.json
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/common/components/PopupBox/styles.module.scss
Labels: front-end, 리팩토링

#235 데모 데이용 메시지 추가
  frontend/src/service/@shared/components/RequireAuth/index.tsx
Labels: front-end, 리팩토링

#234 3차 스프린트
  .github/workflows/frontend-design-tokens-converter.yml
  .github/workflows/frontend-semantic-versioning.yml
  .gitignore
  backend/reviewduck/src/main/java/com/reviewduck/config/xss/HTMLCharacterEscapes.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/request/AnswerUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/AnswerService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/filter/XssFilterTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  frontend/.design-tokens/designTokens.json
  frontend/package.json
  frontend/src/PageRoutes.tsx
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/common/components/PopupBox/styles.module.scss
  frontend/src/service/@shared/components/NoResult/index.tsx
  frontend/src/service/@shared/components/NoResult/styles.module.scss
  frontend/src/service/@shared/components/QuestionCard/index.stories.jsx
  frontend/src/service/@shared/components/QuestionCard/index.tsx
  frontend/src/service/@shared/components/QuestionCard/styles.module.scss
  frontend/src/service/@shared/components/QuestionContent/styles.module.scss
  frontend/src/service/@shared/components/RequireAuth/index.tsx
  frontend/src/service/community/layout/CommunityLayout/styles.module.scss
  frontend/src/service/community/pages/MainPage/index.tsx
  frontend/src/service/community/pages/MainPage/styles.module.scss
  frontend/src/service/community/pages/MyPage/containers/ReviewList/index.tsx
  frontend/src/service/community/pages/MyPage/containers/ReviewList/styles.module.scss
  frontend/src/service/review/pages/MainPage/index.tsx
  frontend/src/service/review/pages/ReviewFormPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewListMain.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSheetView.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSideMenu.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewPage/index.tsx
  frontend/src/service/review/types/index.ts
  frontend/src/styles/designTokens.scss
Labels: front-end, back-end

#237 [FE] fix : -1초전 업데이트 버그 해결
  frontend/src/service/@shared/utils/getElapsedTimeText.ts
Labels: front-end, 버그

#243 깃허브 액션 스크립트 수정 및 테스트
  .github/workflows/frontend-semantic-versioning.yml
Labels: front-end, 설정

#242 Textarea 컴포넌트 AutoResize Prop 추가 및 버그 수정
  frontend/src/common/components/Textarea/indes.stories.jsx
  frontend/src/common/components/Textarea/index.tsx
  frontend/src/common/components/Textarea/styles.module.scss
Labels: front-end, 버그

#250 회고 수정을 위한 회고 조회시 최신화된 회고폼과 동기화되지 않던 버그 해결
  backend/reviewduck/src/main/java/com/reviewduck/common/domain/BaseDate.java
  backend/reviewduck/src/main/java/com/reviewduck/config/xss/HTMLCharacterEscapes.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/QuestionAnswerResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewSummaryResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/AnswerService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
Labels: back-end, 버그

#251 MSW 모킹 & 모킹 컨벤션 설정
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.dev.js
  frontend/.webpack/webpack.prod.js
  frontend/env/development.env
  frontend/env/production.env
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/index.tsx
  frontend/src/mocks/browser.js
  frontend/src/mocks/handlers/convention.js
  frontend/src/mocks/handlers/index.js
  frontend/src/mocks/hosts.js
  package.json
  yarn.lock
Labels: front-end, 설정

#258 MSW 패키지가 정상적으로 추가 되지 않은 문제 수정
  frontend/package.json
  frontend/yarn.lock
Labels: front-end, 버그

#259 잘못 추가된 package.json 제거
  package.json
  yarn.lock
Labels: front-end, 핫픽스

#263 빌드된 파일에 버전명이 기록되도록 설정
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.prod.js
Labels: front-end, 설정

#252 어드민 페이지 구현
  backend/reviewduck/admin_react/react-admin-dashboard/.env
  backend/reviewduck/admin_react/react-admin-dashboard/.gitignore
  backend/reviewduck/admin_react/react-admin-dashboard/package-lock.json
  backend/reviewduck/admin_react/react-admin-dashboard/package.json
  backend/reviewduck/admin_react/react-admin-dashboard/public/favicon.ico
  backend/reviewduck/admin_react/react-admin-dashboard/public/index.html
  backend/reviewduck/admin_react/react-admin-dashboard/public/manifest.json
  backend/reviewduck/admin_react/react-admin-dashboard/public/robots.txt
  backend/reviewduck/admin_react/react-admin-dashboard/src/App.css
  backend/reviewduck/admin_react/react-admin-dashboard/src/App.js
  backend/reviewduck/admin_react/react-admin-dashboard/src/App.test.js
  backend/reviewduck/admin_react/react-admin-dashboard/src/components/sidebar/Sidebar.jsx
  backend/reviewduck/admin_react/react-admin-dashboard/src/components/sidebar/sidebar.css
  backend/reviewduck/admin_react/react-admin-dashboard/src/components/topbar/Topbar.jsx
  backend/reviewduck/admin_react/react-admin-dashboard/src/components/topbar/topbar.css
  backend/reviewduck/admin_react/react-admin-dashboard/src/index.css
  backend/reviewduck/admin_react/react-admin-dashboard/src/index.js
  backend/reviewduck/admin_react/react-admin-dashboard/src/logo.svg
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/home/Home.jsx
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/home/home.css
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/member/Member.jsx
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/member/member.css
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/memberList/MemberList.jsx
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/memberList/memberList.css
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/review/Review.jsx
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/review/review.css
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/reviewForm/ReviewForm.jsx
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/reviewForm/reviewForm.css
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/reviewFormList/ReviewFormList.jsx
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/reviewFormList/reviewFormList.css
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/reviewList/ReviewList.jsx
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/reviewList/reviewList.css
  backend/reviewduck/admin_react/react-admin-dashboard/src/reportWebVitals.js
  backend/reviewduck/admin_react/react-admin-dashboard/src/setupTests.js
  backend/reviewduck/admin_react/react-admin-dashboard/yarn.lock
  backend/reviewduck/src/main/java/com/reviewduck/admin/controller/AdminMemberController.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/controller/AdminReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/dto/response/AdminMemberResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/dto/response/AdminMemberReviewsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/dto/response/AdminMembersResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/dto/response/AdminQuestionAnswerResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/dto/response/AdminReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/dto/response/AdminReviewFormsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/dto/response/AdminReviewInfoResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/dto/response/AdminReviewResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/dto/response/AdminReviewsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminMemberService.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/member/controller/MemberController.java
  backend/reviewduck/src/main/java/com/reviewduck/member/domain/Member.java
  backend/reviewduck/src/main/java/com/reviewduck/member/repository/MemberRepository.java
  backend/reviewduck/src/main/resources/database/migration/V0__init.ddl
  backend/reviewduck/src/main/resources/database/migration/V2__prolongAnswerLength.ddl
  backend/reviewduck/src/main/resources/database/migration/V3__addMemberIsAdmin.ddl
  backend/reviewduck/src/main/resources/lucy-xss-servlet-filter-rule.xml
  backend/reviewduck/src/test/java/com/reviewduck/admin/service/AdminMemberServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/admin/service/AdminReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/admin/service/AdminReviewServiceTest.java
Labels: front-end, back-end, 기능

#264 TemplateStore 페이지 초안 작성
  frontend/src/PageRoutes.tsx
  frontend/src/mocks/data.js
  frontend/src/mocks/handlers/index.js
  frontend/src/mocks/handlers/template.js
  frontend/src/service/@shared/api/template.ts
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/template/index.ts
  frontend/src/service/@shared/hooks/queries/template/useGet.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/layout/MainLayout/index.stories.jsx
  frontend/src/service/@shared/layout/MainLayout/index.tsx
  frontend/src/service/@shared/layout/MainLayout/styles.module.scss
  frontend/src/service/@shared/types/index.ts
  frontend/src/service/@shared/types/template.ts
  frontend/src/service/template/pages/TemplateStorePage/index.tsx
  frontend/src/service/user/layout/CommunityLayout/index.stories.jsx
Labels: front-end, 기능

#266 useSnackbar 함수 네이밍 수정
  frontend/src/common/hooks/useSnackbar.ts
  frontend/src/service/review/pages/Playground/index.tsx
  frontend/src/service/review/pages/ReviewFormPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSideMenu.tsx
  frontend/src/service/review/pages/ReviewPage/index.tsx
  frontend/src/service/user/pages/Authorize/index.tsx
  frontend/src/service/user/pages/Logout/index.tsx
  frontend/src/service/user/pages/MyPage/containers/ReviewList/index.tsx
Labels: front-end

#271 회고 폼 생성/수정 페이지 리팩토링
  frontend/src/PageRoutes.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/styles.module.scss
  frontend/src/service/review/pages/ReviewFormEditorPage/useReviewFormEditor.ts
  frontend/src/service/review/pages/ReviewFormPage/useReviewFormQueries.ts
  frontend/src/service/user/pages/MyPage/containers/ReviewList/index.tsx
Labels: front-end, 리팩토링

#270 템플릿 상세보기 페이지 초안 작성
  frontend/src/PageRoutes.tsx
  frontend/src/mocks/data.js
  frontend/src/mocks/handlers/template.js
  frontend/src/service/@shared/api/template.ts
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/template/useCreate.ts
  frontend/src/service/@shared/hooks/queries/template/useDelete.ts
  frontend/src/service/@shared/hooks/queries/template/useGet.ts
  frontend/src/service/@shared/hooks/queries/template/useUpdate.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/types/template.ts
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/useTemplateDetailQueries.ts
  frontend/src/service/template/pages/TemplateListPage/TemplateListContainer.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/template/pages/TemplateStorePage/index.tsx
Labels: front-end, 기능

#278 어드민 페이지 cors 설정 추가
  backend/reviewduck/admin_react/react-admin-dashboard/package.json
  backend/reviewduck/admin_react/react-admin-dashboard/src/App.js
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/home/Home.jsx
  backend/reviewduck/admin_react/react-admin-dashboard/src/pages/reviewForm/ReviewForm.jsx
  backend/reviewduck/src/main/resources/application.properties
Labels: back-end, 버그

#279 Suspense 중에 Snackbar 깜빡임 현상 해결
  frontend/src/App.tsx
Labels: front-end, 버그

#288 DDL review_form 컬럼명 변경
  backend/reviewduck/src/main/resources/database/migration/V4__renameReviewForm.ddl
Labels: back-end, 설정

#284 템플릿 목록 디자인 적용 및 컴포넌트 분리
  frontend/src/mocks/data.js
  frontend/src/service/@shared/components/SmallProfileCard/index.stories.jsx
  frontend/src/service/@shared/components/SmallProfileCard/index.tsx
  frontend/src/service/@shared/components/SmallProfileCard/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSideMenu.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/service/template/components/TemplateCard/index.stories.jsx
  frontend/src/service/template/components/TemplateCard/index.tsx
  frontend/src/service/template/components/TemplateCard/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/TemplateListContainer.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/styles.module.scss
Labels: front-end, 기능, 질문/리뷰

#299 nginx를 통한 무중단 배포 구현
  backend/reviewduck/src/main/java/com/reviewduck/common/controller/WebRestController.java
  backend/reviewduck/src/main/resources/application-was1.properties
  backend/reviewduck/src/main/resources/application-was2.properties
Labels: back-end, 기능

#302 템플릿 목록 페이지 탭뷰 기능 구현, api 업데이트 적용
  frontend/src/PageRoutes.tsx
  frontend/src/mocks/data.js
  frontend/src/mocks/handlers/template.js
  frontend/src/service/@shared/api/template.ts
  frontend/src/service/@shared/hooks/queries/template/useGet.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/types/template.ts
  frontend/src/service/template/components/TemplateCard/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/useTemplateDetailQueries.ts
  frontend/src/service/template/pages/TemplateListPage/TemplateListContainer.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
Labels: front-end, 기능, 질문/리뷰

#303 정적분석도구 Sonarqube 도입
  .github/workflows/backend-sonarqube.yml
  .github/workflows/gradle.yml
  backend/reviewduck/build.gradle
Labels: back-end, 설정

#301 템플릿 관련 수정된 api 적용
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthenticationPrincipalArgumentResolver.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/service/AuthService.java
  backend/reviewduck/src/main/java/com/reviewduck/common/controller/ControllerAdvice.java
  backend/reviewduck/src/main/java/com/reviewduck/member/domain/Member.java
  backend/reviewduck/src/main/java/com/reviewduck/member/service/MemberService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewSheetResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/request/TemplateCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/request/TemplateQuestionCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/request/TemplateQuestionUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/CreatorResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/MyTemplateResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplateIdResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplateInfoResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplateQuestionResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplateResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplateSummaryResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplatesFindResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplatesResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/repository/TemplateRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateService.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/AcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/admin/service/AdminMemberServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/domain/MemberTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/controller/TemplateControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
Labels: back-end, 기능, 테스트, 리팩토링

#300 [작업 중] 회고 도메인 API 명세 변경 적용 및 페이지 컴포넌트 리팩토링 작업
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.dev.js
  frontend/.webpack/webpack.prod.js
  frontend/index.d.ts
  frontend/src/PageRoutes.tsx
  frontend/src/common/components/FlexContainer/index.tsx
  frontend/src/common/components/FlexContainer/styles.module.scss
  frontend/src/common/components/Text/index.tsx
  frontend/src/common/components/index.ts
  frontend/src/common/hooks/useUniqueKey.ts
  frontend/src/mocks/data.js
  frontend/src/mocks/handlers/auth.ts
  frontend/src/mocks/handlers/index.js
  frontend/src/mocks/handlers/index.ts
  frontend/src/mocks/handlers/review.ts
  frontend/src/service/@shared/api/config/queryClient.ts
  frontend/src/service/@shared/api/index.ts
  frontend/src/service/@shared/api/review.ts
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/auth/useGet.ts
  frontend/src/service/@shared/hooks/queries/review/useCreate.ts
  frontend/src/service/@shared/hooks/queries/review/useDelete.ts
  frontend/src/service/@shared/hooks/queries/review/useGet.ts
  frontend/src/service/@shared/hooks/queries/review/useUpdate.ts
  frontend/src/service/@shared/hooks/queries/user/useGet.ts
  frontend/src/service/@shared/types/auth.ts
  frontend/src/service/@shared/types/common.ts
  frontend/src/service/@shared/types/index.ts
  frontend/src/service/@shared/types/review.ts
  frontend/src/service/review/hooks/useQuestions.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/useAnswerEditorPage.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Editor/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Editor/styles.module.scss
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Status/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Status/styles.module.scss
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/useReviewFormEditor.ts
  frontend/src/service/review/pages/ReviewOverviewPage/useOverviewQueries.ts
  frontend/src/service/review/pages/ReviewPage/index.tsx
  frontend/src/service/review/pages/ReviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewPage/useReviewQueries.ts
  frontend/src/service/user/pages/MyPage/useMyPageQueries.ts
  frontend/tsconfig.json
Labels: front-end, 질문/리뷰, 리팩토링

#305 Overview 페이지 리팩토링 및 ScrollPanel 컴포넌트 추가
  frontend/src/common/components/ScrollPanel/index.stories.jsx
  frontend/src/common/components/ScrollPanel/index.tsx
  frontend/src/common/components/ScrollPanel/styles.module.scss
  frontend/src/common/components/Text/index.tsx
  frontend/src/common/components/Text/styles.module.scss
  frontend/src/common/components/index.ts
  frontend/src/common/hooks/useDebounce.ts
  frontend/src/service/@shared/components/QuestionContent/index.tsx
  frontend/src/service/@shared/types/review.ts
  frontend/src/service/@shared/utils/getElapsedTimeText.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Editor/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewHeader.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewListMain.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSheetView.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/containers/ReviewSideMenu.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/useOverviewQueries.ts
  frontend/src/service/review/pages/ReviewOverviewPage/views/Header/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/Header/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/styles.module.scss
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/MainPage/styles.module.scss
  frontend/src/service/user/pages/MyPage/containers/ReviewList/index.tsx
  frontend/src/styles/@global.scss
  frontend/src/styles/hideScrollbar.scss
Labels: front-end, 질문/리뷰, 리팩토링

#308 Profile, Questions 컴포넌트 추가
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/common/components/FlexContainer/index.tsx
  frontend/src/common/components/Text/index.tsx
  frontend/src/common/components/Text/styles.module.scss
  frontend/src/mocks/handlers/review.ts
  frontend/src/service/@shared/api/review.ts
  frontend/src/service/@shared/components/Profile/index.stories.jsx
  frontend/src/service/@shared/components/Profile/index.tsx
  frontend/src/service/@shared/components/Profile/styles.module.scss
  frontend/src/service/@shared/components/Questions/index.stories.jsx
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/review/useGet.ts
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/index.tsx
  frontend/yarn.lock
Labels: front-end, 기능, 리뷰 필요

#311 질문 설명 추가 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/request/ReviewFormCreateFromTemplateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/request/ReviewFormQuestionCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/request/ReviewFormQuestionUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/QuestionResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewContentResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewFormQuestionResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/request/TemplateQuestionCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/request/TemplateQuestionUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateService.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/AcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/admin/service/AdminReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/admin/service/AdminReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/filter/XssFilterTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/controller/TemplateControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
Labels: back-end, 기능

#313 템플릿을 기반으로 작성된 후 수정된 회고 폼을 생성하는 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/common/controller/ControllerAdvice.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
Labels: back-end, 기능

#298 회고, 멤버 관련 기능 추가
  backend/reviewduck/src/main/java/com/reviewduck/auth/config/AuthenticationPrincipalConfig.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthInterceptor.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthenticationPrincipalArgumentResolver.java
  backend/reviewduck/src/main/java/com/reviewduck/member/controller/MemberController.java
  backend/reviewduck/src/main/java/com/reviewduck/member/dto/response/MemberResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/MemberReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/MemberReviewFormsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/MyReviewFormsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewFormRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/MemberTemplateResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/MemberTemplatesResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/MyTemplatesResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplateResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplateSummaryResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplatesResponse.java
  backend/reviewduck/src/test/java/com/reviewduck/member/acceptance/MemberAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
Labels: back-end, 기능, 버그, 테스트

#314 리프레시 토큰 발급되지 않는 에러 해결
  backend/reviewduck/src/main/java/com/reviewduck/auth/config/AuthenticationPrincipalConfig.java
Labels: back-end, 핫픽스

#315 내 정보 조회 기능 재구현
  backend/reviewduck/src/main/java/com/reviewduck/member/controller/MemberController.java
  backend/reviewduck/src/main/java/com/reviewduck/member/dto/response/MemberResponse.java
Labels: back-end, 핫픽스

#316 템플릿 기반으로 회고를 생성할 때 템플릿 수정 시점이 업데이트 되지 않게 한다.
  backend/reviewduck/src/main/java/com/reviewduck/common/domain/BaseDate.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/repository/TemplateRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/domain/TemplateTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
Labels: back-end, 리팩토링

#318 질문 설명 길이 제한 삭제
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/ReviewFormQuestion.java
  backend/reviewduck/src/main/java/com/reviewduck/template/domain/TemplateQuestion.java
  backend/reviewduck/src/main/resources/database/migration/V8__decriptionText.ddl
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewFormQuestionTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/domain/TemplateQuestionTest.java
Labels: back-end, 리팩토링

#320 인터셉터 및 리졸버 구조 변경
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthInterceptor.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthenticationPrincipalArgumentResolver.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/URIPattern.java
Labels: back-end, 리팩토링

#319 리뷰 반영 및 테스트 추가
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/test/java/com/reviewduck/member/acceptance/MemberAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
Labels: back-end, 리팩토링

#317 템플릿 생성, 편집, 제거, 템플릿으로 회고폼 생성 등 기능 구현 및 고도화
  frontend/src/PageRoutes.tsx
  frontend/src/assets/images/github.svg
  frontend/src/common/components/TagLabel/index.stories.jsx
  frontend/src/common/components/TagLabel/index.tsx
  frontend/src/common/components/TagLabel/styles.module.scss
  frontend/src/common/components/Text/index.tsx
  frontend/src/common/components/Text/styles.module.scss
  frontend/src/mocks/handlers/template.js
  frontend/src/service/@shared/api/review.ts
  frontend/src/service/@shared/api/template.ts
  frontend/src/service/@shared/components/SmallProfileCard/index.tsx
  frontend/src/service/@shared/components/SmallProfileCard/styles.module.scss
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/review/useCreate.ts
  frontend/src/service/@shared/hooks/queries/template/useCreate.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/types/review.ts
  frontend/src/service/@shared/types/template.ts
  frontend/src/service/review/hooks/useQuestions.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/template/components/TemplateCard/index.tsx
  frontend/src/service/template/components/TemplateCard/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/useTemplateDetailQueries.ts
  frontend/src/service/template/pages/TemplateFormEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateFormEditorPage/styles.module.scss
  frontend/src/service/template/pages/TemplateFormEditorPage/useTemplateFormEditorPage.ts
  frontend/src/service/template/pages/TemplateListPage/TemplateListContainer.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/styles.module.scss
Labels: front-end, 기능, 리뷰 필요

#322 회고 도메인 영역 기존 기능 구현 완료
  frontend/.webpack/webpack.dev.js
  frontend/docs/convention.md
  frontend/src/PageRoutes.tsx
  frontend/src/common/components/ScrollPanel/index.tsx
  frontend/src/common/components/ScrollPanel/styles.module.scss
  frontend/src/common/components/Snackbar/index.tsx
  frontend/src/common/components/Snackbar/styles.module.scss
  frontend/src/service/@shared/components/Profile/index.tsx
  frontend/src/service/@shared/components/Profile/styles.module.scss
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/hooks/queries/review/useGet.ts
  frontend/src/service/@shared/pages/modals/ModalReviewStart/index.tsx
  frontend/src/service/@shared/types/review.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/useAnswerEditorPage.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Editor/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Status/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/useReviewFormEditor.ts
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/views/Header/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/Header/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/views/SheetView/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/SheetView/styles.module.scss
  frontend/src/service/user/pages/MainPage/styles.module.scss
Labels: front-end, 기능, 리뷰 필요, 리팩토링

#324 회고 영역 질문 에디터 컴포넌트 분리
  frontend/src/common/hooks/useDebounce.ts
  frontend/src/mocks/data.js
  frontend/src/service/@shared/components/QuestionsEditor/index.stories.jsx
  frontend/src/service/@shared/components/QuestionsEditor/index.tsx
  frontend/src/service/@shared/components/QuestionsEditor/styles.module.scss
  frontend/src/service/@shared/components/QuestionsEditorItem/index.stories.jsx
  frontend/src/service/@shared/components/QuestionsEditorItem/index.tsx
  frontend/src/service/@shared/components/QuestionsEditorItem/styles.module.scss
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/useQuestions.ts
  frontend/src/service/@shared/types/review.ts
  frontend/src/service/review/pages/MainPage/index.tsx
  frontend/src/service/review/pages/MainPage/styles.module.scss
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/views/Header/index.tsx
  frontend/src/service/template/pages/TemplateFormEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateFormEditorPage/useTemplateFormEditorPage.ts
Labels: front-end, 리뷰 필요, 리팩토링

#325 db 스키마 수정
  backend/reviewduck/src/main/resources/database/migration/V8__decriptionText.ddl
Labels: back-end, 핫픽스

#329 ddl 오류 수정
  backend/reviewduck/src/main/resources/database/migration/V8__decriptionText.ddl
Labels: 핫픽스

#330 ddl 오류 수정
  backend/reviewduck/src/main/resources/database/migration/V8__decriptionText.ddl
Labels: 핫픽스

#333 ddl 오류 수정
  backend/reviewduck/src/main/resources/database/migration/V8__decriptionText.ddl
  backend/reviewduck/src/main/resources/database/migration/V8__descriptionText.ddl
Labels: 핫픽스

#338 ddl 수정
  backend/reviewduck/src/main/resources/database/migration/V8__reviewForm_descriptionText.ddl
  backend/reviewduck/src/main/resources/database/migration/V9__template_descriptionText.ddl
Labels: 핫픽스

#341 질문과 답변 내용의 db 스키마 수정
  backend/reviewduck/src/main/resources/database/migration/V10__question_and_answer_value_varchar.ddl
  backend/reviewduck/src/main/resources/database/migration/V11__unify_time_display_type.ddl
Labels: back-end, 리팩토링

#342 회고 질문에 대핸 설명 API 연결
  frontend/src/service/@shared/components/QuestionsEditor/index.tsx
  frontend/src/service/@shared/components/QuestionsEditor/styles.module.scss
  frontend/src/service/@shared/components/QuestionsEditorItem/index.tsx
  frontend/src/service/@shared/components/QuestionsEditorItem/styles.module.scss
  frontend/src/service/@shared/hooks/queries/auth/useCreate.ts
  frontend/src/service/@shared/hooks/queries/auth/useDelete.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
Labels: front-end, 기능, 리뷰 필요

#343 회고 질문 제거 시 첫번째 질문이 삭제되지 않는 문제 해결
  frontend/src/service/@shared/components/QuestionsEditor/index.tsx
Labels: front-end, 버그

#344 socialId 제약조건 추가
  backend/reviewduck/src/main/resources/database/migration/V12__add_constraint_to_social_id.ddl
  backend/reviewduck/src/test/java/com/reviewduck/member/acceptance/MemberAcceptanceTest.java
Labels: back-end, 리팩토링

#345 socialId 제약조건 추가
  backend/reviewduck/src/main/resources/database/migration/V12__add_constraint_to_social_id.ddl
Labels: back-end, 버그

#346 젠킨스용 환경변수 추가
  frontend/env/development.env
  frontend/env/production.env
Labels: front-end, 설정

#349 main에 backend CI push 트리거 제거
  .github/workflows/backend-sonarqube.yml
Labels: back-end, 설정

#348 템플릿을 수정해서 회고 폼을 만들어도 수정시간이 갱신되지 않도록 수정한다.
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/domain/Template.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
Labels: back-end, 버그

#350 템플릿 상세보기에서 인기 템플릿 목록 출력, 닉네임 수정 구현
  frontend/src/service/@shared/api/user.ts
  frontend/src/service/@shared/components/QuestionsEditor/index.tsx
  frontend/src/service/@shared/components/SmallProfileCard/styles.module.scss
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/user/useUpdate.ts
  frontend/src/service/@shared/pages/modals/ModalProfileEdit/index.tsx
  frontend/src/service/@shared/pages/modals/ModalProfileEdit/styles.module.scss
  frontend/src/service/@shared/pages/modals/index.ts
  frontend/src/service/@shared/types/user.ts
  frontend/src/service/template/components/TemplateCard/index.tsx
  frontend/src/service/template/components/TemplateCard/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/useTemplateDetailQueries.ts
  frontend/src/service/template/pages/TemplateListPage/TemplateListContainer.tsx
  frontend/src/service/template/pages/TemplateListPage/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/index.tsx
Labels: front-end, 기능, 리뷰 필요

#353 메인페이지에 인기 템플릿 목록 출력
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/template/components/TemplateCard/index.tsx
  frontend/src/service/template/components/TemplateCard/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/styles.module.scss
  frontend/src/service/template/pages/TemplateListPage/TemplateListContainer.tsx
  frontend/src/service/template/pages/TemplateListPage/styles.module.scss
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/MainPage/styles.module.scss
Labels: front-end, 리뷰 필요

#354 질문 설명 질문지 카드에 적용되도록 수정 및 어색한 표현 수정
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/index.tsx
  frontend/src/service/template/pages/TemplateFormEditorPage/index.tsx
Labels: front-end

#355 데모 시연을 위한 버전 준비
  frontend/src/common/components/ScrollPanel/styles.module.scss
  frontend/src/common/components/TagLabel/styles.module.scss
  frontend/src/service/@shared/components/QuestionCard/styles.module.scss
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/hooks/queries/auth/useGet.ts
  frontend/src/service/@shared/hooks/queries/user/useGet.ts
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/index.tsx
  frontend/src/service/template/components/TemplateCard/index.tsx
  frontend/src/service/template/components/TemplateCard/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/TemplateListContainer.tsx
  frontend/src/service/template/pages/TemplateListPage/styles.module.scss
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/MainPage/styles.module.scss
Labels: front-end, 기능

#356 지속적 통합
  frontend/package.json
  frontend/src/common/components/ScrollPanel/styles.module.scss
  frontend/src/common/components/TagLabel/styles.module.scss
  frontend/src/service/@shared/components/QuestionCard/styles.module.scss
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/hooks/queries/auth/useGet.ts
  frontend/src/service/@shared/hooks/queries/user/useGet.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/index.tsx
  frontend/src/service/template/components/TemplateCard/index.tsx
  frontend/src/service/template/components/TemplateCard/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/styles.module.scss
  frontend/src/service/template/pages/TemplateFormEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/TemplateListContainer.tsx
  frontend/src/service/template/pages/TemplateListPage/styles.module.scss
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/MainPage/styles.module.scss
Labels: front-end, 기능, 리팩토링

#357 ErrorBoundary 추가 및 데모데이를 위한 디자인 디테일 수정
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/PageRoutes.tsx
  frontend/src/common/components/ErrorBoundary/index.tsx
  frontend/src/common/components/ScrollPanel/styles.module.scss
  frontend/src/service/@shared/api/config/queryClient.ts
  frontend/src/service/@shared/components/Profile/index.tsx
  frontend/src/service/@shared/components/Profile/styles.module.scss
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/components/QuestionsEditorItem/styles.module.scss
  frontend/src/service/@shared/components/RequireAuth/index.tsx
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/template/useGet.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/layout/MainLayout/index.tsx
  frontend/src/service/@shared/pages/ErrorPage/index.tsx
  frontend/src/service/@shared/pages/ErrorPage/styles.module.scss
  frontend/src/service/review/layout/ReviewLayout/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/SheetView/index.tsx
  frontend/src/service/template/components/TemplateCard/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/styles.module.scss
  frontend/src/service/template/pages/TemplateFormEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/containers/ReviewList/index.tsx
  frontend/src/service/user/pages/ProfilePage/containers/ReviewList/styles.module.scss
Labels: front-end, 기능

#358 4차 스프린트 최종 머지
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/PageRoutes.tsx
  frontend/src/common/components/ErrorBoundary/index.tsx
  frontend/src/common/components/ScrollPanel/styles.module.scss
  frontend/src/service/@shared/api/config/queryClient.ts
  frontend/src/service/@shared/components/Profile/index.tsx
  frontend/src/service/@shared/components/Profile/styles.module.scss
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/components/QuestionsEditorItem/styles.module.scss
  frontend/src/service/@shared/components/RequireAuth/index.tsx
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/template/useGet.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/layout/MainLayout/index.tsx
  frontend/src/service/@shared/pages/ErrorPage/index.tsx
  frontend/src/service/@shared/pages/ErrorPage/styles.module.scss
  frontend/src/service/review/layout/ReviewLayout/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/SheetView/index.tsx
  frontend/src/service/template/components/TemplateCard/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/styles.module.scss
  frontend/src/service/template/pages/TemplateFormEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/containers/ReviewList/index.tsx
  frontend/src/service/user/pages/ProfilePage/containers/ReviewList/styles.module.scss
Labels: front-end, back-end, 기능

#359 로그인 없이 회고폼 조회가 가능하도록 허용
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/URIPattern.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
Labels: back-end, 버그

#360 지속적인 통합
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/URIPattern.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  frontend/src/PageRoutes.tsx
  frontend/src/common/components/FieldSet/styles.module.scss
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/pages/ErrorPage/styles.module.scss
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Status/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/SheetView/styles.module.scss
  frontend/src/service/user/pages/MainPage/index.tsx
Labels: front-end, back-end, 버그, 리팩토링
