Repository woowacourse-teams/2022-review-duck, pull requests merged in 2022-10, with the labels that each got.

#489 ReviewFormEditorPage 합성 컴포넌트로 리팩토링
  frontend/docs/convention.md
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/useReviewFormEditor.ts
  frontend/src/service/review/pages/ReviewFormEditorPage/views/Editor/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/views/Editor/styles.module.scss
  frontend/src/service/review/pages/ReviewFormEditorPage/views/Status/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/views/Status/styles.module.scss
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/MainPage/styles.module.scss
  frontend/src/service/user/pages/MainPage/view/Intro/index.tsx
  frontend/src/service/user/pages/MainPage/view/TrendTemplate/index.tsx
  frontend/src/service/user/pages/MainPage/view/TrendTemplate/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/src/service/user/pages/ProfilePage/view/ArticleList/index.tsx
  frontend/src/service/user/pages/ProfilePage/view/Controller/index.tsx
Labels: front-end, 리뷰 필요, 리팩토링

#497 ReviewForm, ReviewFormQuestion 연관관계 일대다 단방향 -> 일대다 다대일 양방향
  backend/reviewduck/src/main/java/com/reviewduck/admin/dto/response/AdminReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthController.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthenticationPrincipalArgumentResolver.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/dto/response/GithubMemberResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/service/AuthService.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/support/AuthorizationExtractor.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/support/JwtTokenProvider.java
  backend/reviewduck/src/main/java/com/reviewduck/member/domain/Member.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Answer.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/ReviewFormQuestion.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/response/MemberReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/response/ReviewAbstractResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/response/ReviewContentResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/response/ReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewFormQuestionRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormQuestionCreateDto.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormQuestionService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormQuestionUpdateDto.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ServiceDtoConverter.java
  backend/reviewduck/src/main/java/com/reviewduck/template/domain/Template.java
  backend/reviewduck/src/main/java/com/reviewduck/template/domain/TemplateQuestion.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewFormQuestionTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewFormTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormQuestionRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
Labels: back-end, 리팩토링

#504 토큰별 보안정책 분리
  backend/reviewduck/src/main/java/com/reviewduck/admin/controller/AdminTemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminTemplateService.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/support/JwtTokenProvider.java
  backend/reviewduck/src/main/resources/application.properties
  backend/reviewduck/src/test/resources/application.properties
Labels: back-end, 리팩토링

#506 토큰 페이로드 추출 보안정책 분리
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthInterceptor.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/AuthenticationPrincipalArgumentResolver.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/service/AuthService.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/support/JwtTokenProvider.java
  backend/reviewduck/src/test/java/com/reviewduck/member/controller/MemberControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/controller/TemplateControllerTest.java
Labels: back-end, 버그

#508 오버뷰 회고폼 캐싱 무효화 및 참여코드 정규식 버그 수정
  frontend/src/constant/index.ts
  frontend/src/service/@shared/hooks/queries/review/useCreate.ts
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
Labels: front-end, 버그

#509 타임라인 정렬 기준 기본으로 최신순으로 수정
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
Labels: front-end, 기능

#507 회고를 생성하지 않은 질문지를 삭제하면 Hard Delete 하도록 변경
  backend/reviewduck/src/main/java/com/reviewduck/member/service/MemberService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/service/ReviewFormQuestionCreateDto.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/service/ReviewFormQuestionUpdateDto.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/service/ServiceDtoConverter.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewFormRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewFormTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/TestReviewFormRepository.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
Labels: back-end, 리팩토링

#512 회고 제목 및 isPrivate 추가 반환
  .github/workflows/backend-sonarqube.yml
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/request/ReviewCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/request/ReviewUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/response/ReviewSummaryResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/admin/service/AdminReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
Labels: back-end, 리팩토링

#513 테스트 속도 개선을 위한 AcceptanceTest 필드 선언 방식 변경
  backend/reviewduck/src/test/java/com/reviewduck/ReviewduckApplicationTests.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/AcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/acceptance/MemberAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
Labels: back-end, 테스트

#516 테스트 속도 개선을 위한 ControllerTest 필드 선언 방식 변경
  backend/reviewduck/src/test/java/com/reviewduck/auth/controller/AuthControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/controller/ControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/controller/MemberControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewFormControllerTest.java
Labels: back-end, 테스트

#519 템플릿 페이지 등록/편집 기능 구현 및 PageSuspense 구현
  frontend/src/App.tsx
  frontend/src/PageRoutes.tsx
  frontend/src/api/config/axiosInstance.ts
  frontend/src/api/config/queryClient.ts
  frontend/src/api/template.api.ts
  frontend/src/common/components/ErrorBoundary/index.tsx
  frontend/src/common/components/FieldSet/index.tsx
  frontend/src/common/components/PageSuspense/index.tsx
  frontend/src/common/components/PageSuspense/styles.module.scss
  frontend/src/common/components/ProgressBar/index.tsx
  frontend/src/common/components/ProgressBar/styles.module.scss
  frontend/src/common/components/ScrollPanel/index.tsx
  frontend/src/common/components/ScrollPanel/styles.module.scss
  frontend/src/common/components/Snackbar/index.tsx
  frontend/src/common/components/Snackbar/styles.module.scss
  frontend/src/common/components/ToolTip/styles.module.scss
  frontend/src/common/components/index.ts
  frontend/src/common/utils/validator/index.ts
  frontend/src/common/utils/validator/isArray.ts
  frontend/src/common/utils/validator/isBoolean.ts
  frontend/src/common/utils/validator/isNumber.ts
  frontend/src/common/utils/validator/isObject.ts
  frontend/src/common/utils/validator/isString.ts
  frontend/src/common/utils/validator/responseValidator.ts
  frontend/src/constant/index.ts
  frontend/src/models/Answer.ts
  frontend/src/models/Creator.ts
  frontend/src/models/Question.ts
  frontend/src/models/Template.ts
  frontend/src/routes/index.ts
  frontend/src/service/@shared/components/QuestionsEditor/index.tsx
  frontend/src/service/@shared/hooks/queries/template/index.ts
  frontend/src/service/@shared/hooks/queries/template/useGet.ts
  frontend/src/service/@shared/hooks/queries/template/useMutation.ts
  frontend/src/service/@shared/hooks/queries/template/useUpdate.ts
  frontend/src/service/@shared/hooks/useNavigateHandler.ts
  frontend/src/service/@shared/hooks/useQuestions.ts
  frontend/src/service/@shared/layout/MainLayout/index.tsx
  frontend/src/service/@shared/pages/ErrorPage/index.tsx
  frontend/src/service/@shared/pages/ErrorPage/styles.module.scss
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/useTemplateDetailQueries.ts
  frontend/src/service/template/pages/TemplateDetailPage/view/Header/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/view/Trending/styles.module.scss
  frontend/src/service/template/pages/TemplateEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateEditorPage/styles.module.scss
  frontend/src/service/template/pages/TemplateFormEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateFormEditorPage/styles.module.scss
  frontend/src/service/template/pages/TemplateFormEditorPage/useTemplateFormEditorPage.ts
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/src/service/user/pages/ProfilePage/view/Controller/index.tsx
  frontend/src/types/template.ts
  frontend/yarn.lock
Labels: front-end, 기능, 리뷰 필요, 리팩토링

#520 [FE] fix : 템플릿 생성/수정 페이지에 로그인 없어도 접근되는 문제 해결
  frontend/src/PageRoutes.tsx
Labels: front-end, 버그

#521 [FE] fix : 템플릿 생성/수정 시 권한 요청 알림이 뜨지 않는 버그 추가 수정
  frontend/src/PageRoutes.tsx
Labels: front-end, 버그

#517 누락된 TemplateControllerTest 필드 추가
  backend/reviewduck/src/test/java/com/reviewduck/controller/ControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/controller/TemplateControllerTest.java
Labels: back-end, 테스트

#525 타임라인 트렌딩 조회 시 특정 좋아요 개수 이상의 회고를 생성일 기준으로 정렬하도록 변경
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/vo/ReviewSortType.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/vo/ReviewSortTypeTest.java
Labels: back-end, 리팩토링

#526 삭제된 회고 폼에 기반한 회고 답변 수정을 위해 조회할 때, 동기화 하지 않고 조회하도록 변경
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/response/ReviewAbstractResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/response/ReviewEditResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/response/ReviewEditResponseBuilder.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/response/ReviewNonSynchronizedResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/response/ReviewSheetResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/controller/response/ReviewSynchronizedResponse.java
Labels: back-end, 리팩토링

#532 Snackbar, ModalProvider 사용 방식 개선
  frontend/src/App.tsx
  frontend/src/common/components/SnackbarProvider/index.tsx
  frontend/src/common/components/index.ts
  frontend/src/common/hooks/useModal.ts
  frontend/src/common/hooks/useSnackbar.ts
  frontend/src/constant/index.ts
  frontend/src/service/@shared/components/ModalProvider/ModalProfileEdit/index.tsx
  frontend/src/service/@shared/components/ModalProvider/ModalProfileEdit/styles.module.scss
  frontend/src/service/@shared/components/ModalProvider/ModalReviewJoin/index.tsx
  frontend/src/service/@shared/components/ModalProvider/ModalReviewJoin/styles.module.scss
  frontend/src/service/@shared/components/ModalProvider/ModalReviewStart/index.tsx
  frontend/src/service/@shared/components/ModalProvider/ModalReviewStart/styles.module.scss
  frontend/src/service/@shared/components/ModalProvider/index.tsx
  frontend/src/service/@shared/components/ModalProvider/modals.ts
  frontend/src/service/@shared/components/ModalProvider/useModal.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/recoil/modalProvider/atom.ts
  frontend/src/service/@shared/recoil/modalProvider/index.ts
  frontend/src/service/review/pages/Playground/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/view/ListView/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateEditorPage/styles.module.scss
  frontend/src/service/user/pages/Authorize/index.tsx
  frontend/src/service/user/pages/Logout/index.tsx
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
Labels: front-end, 리팩토링

#529 유저페이지 추가 정보 보여주기 구현
  frontend/src/PageRoutes.tsx
  frontend/src/api/user.transformer.ts
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/src/types/user.ts
Labels: front-end, 기능

#539 리드미 파일 Backend Architecture 구조 소개 추가
  README.md
Labels: 문서

#537 템플릿 검색 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/common/controller/ControllerAdvice.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/repository/TemplateRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateService.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/controller/TemplateControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
Labels: back-end, 기능

#541 Optimistic Update 리팩토링 및 마이페이지, 오버뷰 좋아요 기능 적용
  frontend/index.d.ts
  frontend/src/api/review.transformer.ts
  frontend/src/api/user.api.ts
  frontend/src/common/hooks/useOptimisticUpdate.ts
  frontend/src/common/hooks/useSimplifiedPageData.ts
  frontend/src/common/hooks/useStackFetch.ts
  frontend/src/common/utils/validator/isArray.ts
  frontend/src/constant/index.ts
  frontend/src/service/@shared/hooks/queries/useInfiniteScrollQuery.ts
  frontend/src/service/@shared/hooks/queries/user/useGet.ts
  frontend/src/service/@shared/validator/common.ts
  frontend/src/service/@shared/validator/index.ts
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/useReviewOverviewPage.ts
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/useReviewTimeline.ts
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/src/service/user/pages/ProfilePage/useProfilePage.ts
  frontend/src/service/user/pages/ProfilePage/useProfilePageQueries.ts
  frontend/src/types/review.ts
Labels: front-end, 기능, 리뷰 필요, 리팩토링

#546 템플릿 생성이 되지 않던 버그 수정
  frontend/src/common/hooks/useSimplifiedPageData.ts
  frontend/src/service/review/pages/ReviewOverviewPage/useReviewOverviewPage.ts
  frontend/src/service/review/pages/ReviewTimelinePage/useReviewTimeline.ts
  frontend/src/service/template/pages/TemplateEditorPage/index.tsx
Labels: front-end, 버그

#551 [FE] fix : 유저 프로필 페이지에서 회고 좋아요 버튼이 정상 출력되지 않는 버그 수정
  frontend/src/service/user/pages/ProfilePage/index.tsx
Labels: front-end

#553 템플릿 검색 기능 구현
  frontend/src/api/template.api.ts
  frontend/src/constant/index.ts
  frontend/src/service/@shared/hooks/queries/template/useGet.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/useTemplateListPage.ts
  frontend/src/service/template/pages/TemplateListPage/view/Filter/index.tsx
  frontend/src/service/template/pages/TemplateListPage/view/Filter/styles.module.scss
Labels: front-end, 기능

#554 모바일 반응형 기반 설정
  frontend/src/styles/@app.scss
  frontend/src/styles/@global.scss
  frontend/src/styles/responsive.scss
Labels: front-end, 기능

#555 무중단배포 구현 방식 변경에 따른 불필요해진 설정파일 제거
  backend/reviewduck/src/main/resources/application-was1.properties
  backend/reviewduck/src/main/resources/application-was2.properties
Labels: back-end, 설정

#557 백엔드 및 프론트 아키텍쳐 추가
  README.md
Labels: 문서

#559 페이지네이션바 버그 수정
  frontend/src/common/components/PaginationBar/index.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
Labels: front-end, 버그

#561 유저 접속 상태에 따른 Context 추가
  frontend/src/App.tsx
  frontend/src/common/contexts/UserAgent.tsx
  frontend/src/common/hooks/ussThrottleCallback.ts
Labels: front-end, 기능

#562 Context 리렌더링 이슈 해결
  frontend/src/common/contexts/UserAgent.tsx
  frontend/src/common/hooks/useThrottle.ts
  frontend/src/common/hooks/ussThrottleCallback.ts
Labels: front-end, 버그

#563 오버뷰 페이지 모바일 반응형 구현
  frontend/src/common/contexts/UserAgent.tsx
  frontend/src/common/hooks/ussThrottleCallback.ts
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/view/Header/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/view/Header/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/view/ListView/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/view/ListView/styles.module.scss
Labels: front-end, 기능, 리뷰 필요

#570 SNAPSHOT version 업데이트
  backend/reviewduck/build.gradle
Labels: back-end, 설정, 테스트

#569 검색 후 리다이렉트 되는 버그 수정
  frontend/src/api/review.api.ts
  frontend/src/api/template.api.ts
  frontend/src/api/user.api.ts
  frontend/src/common/components/PaginationBar/index.tsx
  frontend/src/constant/index.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/view/SideMenu/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
Labels: front-end, 버그

#574 메인 레이아웃 모바일 반응형 지원
  frontend/public/index.html
  frontend/src/PageRoutes.tsx
  frontend/src/common/components/FlexContainer/index.tsx
  frontend/src/common/components/Logo/index.tsx
  frontend/src/common/components/Logo/styles.module.scss
  frontend/src/common/components/SelectPopup/index.tsx
  frontend/src/common/components/SelectPopup/styles.module.scss
  frontend/src/common/components/index.ts
  frontend/src/common/contexts/UserAgent.tsx
  frontend/src/service/@shared/components/LayoutContainer/styles.module.scss
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/layout/MainLayout/index.tsx
  frontend/src/service/@shared/layout/MainLayout/styles.module.scss
  frontend/src/service/@shared/layout/MainLayout/view/MobileMenubar/index.tsx
  frontend/src/service/@shared/layout/MainLayout/view/MobileMenubar/styles.module.scss
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/MainPage/styles.module.scss
  frontend/src/styles/@app.scss
Labels: front-end, 기능

#576 템플릿 목록 반응형 구현
  frontend/src/common/components/PaginationBar/index.tsx
  frontend/src/common/components/PaginationBar/styles.module.scss
  frontend/src/constant/index.ts
  frontend/src/service/@shared/components/LayoutContainer/styles.module.scss
  frontend/src/service/template/components/TemplateCard/index.tsx
  frontend/src/service/template/components/TemplateCard/styles.module.scss
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/styles.module.scss
  frontend/src/service/template/pages/TemplateListPage/useTemplateListPage.ts
Labels: front-end, 기능, 리뷰 필요

#577 스낵바, 모달 모바일 반응형 대응
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/common/components/Modal/index.tsx
  frontend/src/common/components/Modal/styles.module.scss
  frontend/src/common/components/Snackbar/index.tsx
  frontend/src/common/components/Snackbar/styles.module.scss
  frontend/src/service/@shared/components/ModalProvider/ModalReviewStart/styles.module.scss
Labels: front-end, 기능

#578 타임라인 페이지 반응형 구현
  frontend/src/service/@shared/layout/MainLayout/styles.module.scss
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/styles.module.scss
  frontend/src/service/review/pages/ReviewTimelinePage/view/SideMenu/styles.module.scss
Labels: front-end, 기능

#579 템플릿 디테일 페이지 반응형 구현
  frontend/src/service/template/pages/TemplateDetailPage/view/Content/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/view/Header/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/view/Header/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/view/Trending/styles.module.scss
Labels: front-end, 기능

#580 메인 화면 반응형 레이아웃 적용
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/service/@shared/components/LayoutContainer/styles.module.scss
  frontend/src/service/@shared/layout/MainLayout/styles.module.scss
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/MainPage/styles.module.scss
  frontend/src/service/user/pages/MainPage/view/Intro/index.tsx
  frontend/src/service/user/pages/MainPage/view/Intro/styles.module.scss
  frontend/src/service/user/pages/MainPage/view/TrendTemplate/styles.module.scss
Labels: front-end, 기능, 리팩토링

#583 유저 프로필 페이지 반응형 레이아웃 제공
  frontend/src/common/components/Carousel copy/index.stories.jsx
  frontend/src/common/components/Carousel copy/index.tsx
  frontend/src/common/components/Carousel copy/styles.module.scss
  frontend/src/common/components/Carousel/index.stories.jsx
  frontend/src/common/components/Carousel/index.tsx
  frontend/src/common/components/Carousel/styles.module.scss
  frontend/src/common/components/index.ts
  frontend/src/service/@shared/layout/MainLayout/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/view/ListView/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/view/Trending/index.tsx
  frontend/src/service/user/pages/MainPage/view/TrendTemplate/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/src/service/user/pages/ProfilePage/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/view/ArticleList/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/view/Controller/index.tsx
  frontend/src/service/user/pages/ProfilePage/view/Controller/styles.module.scss
Labels: front-end, 기능, 리팩토링

#585 템플릿 생성 페이지 반응형 구현
  frontend/src/service/template/pages/TemplateDetailPage/view/Header/styles.module.scss
  frontend/src/service/template/pages/TemplateEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateEditorPage/styles.module.scss
Labels: front-end, 기능

#586 타임라인 페이지 Padding 지정, 모바일 메뉴바 디자인 수정
  frontend/src/common/components/Carousel copy/index.stories.jsx
  frontend/src/common/components/Carousel copy/index.tsx
  frontend/src/common/components/Carousel copy/styles.module.scss
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/layout/MainLayout/index.tsx
  frontend/src/service/@shared/layout/MainLayout/view/MobileMenubar/index.tsx
  frontend/src/service/@shared/layout/MainLayout/view/MobileMenubar/styles.module.scss
  frontend/src/service/review/pages/ReviewTimelinePage/styles.module.scss
  frontend/src/service/review/pages/ReviewTimelinePage/view/SideMenu/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/view/Content/styles.module.scss
Labels: front-end, 리팩토링

#588 에러 페이지 반응형 구현
  frontend/src/service/@shared/pages/ErrorPage/styles.module.scss
Labels: front-end, 기능

#589 PaginationBar 반응형 구현
  frontend/public/index.html
  frontend/src/common/components/PaginationBar/index.tsx
  frontend/src/common/components/PaginationBar/styles.module.scss
  frontend/src/service/template/pages/TemplateListPage/index.tsx
Labels: front-end, 기능, 리팩토링

#590 페이지 타이틀 세팅 ,모바일 반응형 헤더 처리, 라우팅 구조 변경
  frontend/src/App.tsx
  frontend/src/PageRoutes.tsx
  frontend/src/constant/index.ts
  frontend/src/recoil/pageTitle/atom.ts
  frontend/src/recoil/pageTitle/index.ts
  frontend/src/routes/route.tsx
  frontend/src/service/@shared/components/Page/index.tsx
  frontend/src/service/@shared/components/RequireAuth/index.tsx
  frontend/src/service/@shared/layout/MainLayout/index.tsx
  frontend/src/service/@shared/layout/MainLayout/styles.module.scss
  frontend/src/service/@shared/layout/MainLayout/view/MobileHeader/index.tsx
  frontend/src/service/@shared/layout/MainLayout/view/MobileHeader/styles.module.scss
  frontend/src/service/@shared/layout/MainLayout/view/MobileMenubar/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
Labels: front-end, 리팩토링

#572 PaginationBar 예외 처리 방식 개선
  frontend/src/common/components/PaginationBar/index.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
Labels: front-end, 버그

#592 FontAwesome 스크립트 제거 및 PaginationBar 아이콘 수정
  frontend/public/index.html
  frontend/src/common/components/PaginationBar/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/index.tsx
Labels: front-end, 리팩토링

#593 datetime miliseconds까지 저장하도록 수정 및 테스트컨테이너 적용
  backend/reviewduck/build.gradle
  backend/reviewduck/src/main/resources/database/migration/V16__change_to_datetime.ddl
  backend/reviewduck/src/test/java/com/reviewduck/member/repository/MemberRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormQuestionRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/resources/application.properties
Labels: back-end, 테스트

#605 템플릿 리스트 목록 쿼리 리팩토링 및 검색어 조건 추가
  frontend/src/constant/index.ts
  frontend/src/service/@shared/hooks/queries/template/useGet.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/validator/index.ts
  frontend/src/service/@shared/validator/review.ts
  frontend/src/service/@shared/validator/template.ts
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/useTemplateListPage.ts
Labels: front-end, 리팩토링

#606 PWA 지원 및 반응형 레이아웃 완성
  frontend/.webpack/webpack.common.js
  frontend/package.json
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/static/app-icon.png
  frontend/src/PageRoutes.tsx
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/components/QuestionsEditor/index.tsx
  frontend/src/service/@shared/layout/MainLayout/view/MobileMenubar/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/yarn.lock
Labels: front-end, 기능, 리팩토링

#608 각종 링크 버그 및 리팩토링 진행
  frontend/src/PageRoutes.tsx
  frontend/src/service/@shared/hooks/queries/auth/useCreate.ts
  frontend/src/service/@shared/hooks/queries/auth/useDelete.ts
  frontend/src/service/@shared/hooks/queries/review/useCreate.ts
  frontend/src/service/@shared/hooks/queries/review/useDelete.ts
  frontend/src/service/@shared/hooks/queries/review/useUpdate.ts
  frontend/src/service/@shared/hooks/queries/template/useCreate.ts
  frontend/src/service/@shared/hooks/queries/template/useDelete.ts
  frontend/src/service/@shared/hooks/queries/template/useMutations.ts
  frontend/src/service/@shared/hooks/queries/template/useUpdate.ts
  frontend/src/service/@shared/hooks/queries/user/useUpdate.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
Labels: front-end, 버그, 리팩토링

#609 줄 깨짐 현상 일괄 수정, ErrorPage 모바일 반응형 처리, 모달 버그 수정
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/common/components/Modal/styles.module.scss
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/pages/ErrorPage/index.tsx
  frontend/src/service/@shared/pages/ErrorPage/styles.module.scss
  frontend/src/service/review/pages/ReviewTimelinePage/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/view/Header/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/view/Header/styles.module.scss
  frontend/src/service/template/pages/TemplateListPage/view/Filter/styles.module.scss
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/MainPage/styles.module.scss
  frontend/src/service/user/pages/MainPage/view/Intro/styles.module.scss
  frontend/src/service/user/pages/MainPage/view/TrendTemplate/styles.module.scss
Labels: front-end, 리팩토링

#611 닉네임 수정 후 캐싱 무효화 버그 수정
  frontend/src/service/@shared/hooks/queries/user/useUpdate.ts
Labels: front-end, 버그

#613 링크 밑 버튼 버그 수정
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/view/Editor/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
Labels: front-end, 버그

#614 소개페이지 링크, 버튼 텍스트 깨지는 것 수정
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
Labels: front-end, 버그

#616 template title 검색속도 향상을 위해 fulltext index, match against 적용
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/repository/TemplateRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateAggregator.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateService.java
  backend/reviewduck/src/main/resources/database/migration/V17__add_full_text_index_to_template_title.ddl
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
Labels: back-end, 리팩토링

#617 DATETIME 기본값 지정
  backend/reviewduck/src/main/resources/database/migration/V16__change_to_datetime.ddl
Labels: back-end, 버그

#619 PageSuspense 완성, 페이지 리렌더링 이슈 해결, 무한 스크롤 버그 수정
  frontend/src/common/components/Carousel/index.tsx
  frontend/src/common/components/PageSuspense/PagePrgress.tsx
  frontend/src/common/components/PageSuspense/index.tsx
  frontend/src/common/components/PageSuspense/store.ts
  frontend/src/common/components/ProgressBar/index.tsx
  frontend/src/common/components/ProgressBar/styles.module.scss
  frontend/src/common/components/Text/styles.module.scss
  frontend/src/common/hooks/useDebounceCallback.ts
  frontend/src/common/hooks/useIntersectionObserver.ts
  frontend/src/common/utils/setDebounceCallback.ts
  frontend/src/service/@shared/components/QuestionsEditorItem/index.tsx
  frontend/src/service/@shared/pages/ErrorPage/styles.module.scss
Labels: front-end, 리팩토링

#620 DataSourceSelector 동시성 이슈 수정
  backend/reviewduck/src/main/java/com/reviewduck/config/datasource/DataSourceSelector.java
Labels: back-end, 버그

#622 닉네임 수정 에러메세지 문구 수정
  frontend/src/service/@shared/validator/user.ts
Labels: front-end, 리팩토링

#618 캐시 만료 시간 설정 변경
  backend/reviewduck/src/main/java/com/reviewduck/config/cache/CacheType.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateAggregator.java
Labels: back-end, 설정

#624 오버뷰 참여자 정보 결과없음 렌더
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/view/ListView/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/view/ListView/styles.module.scss
Labels: front-end, 기능

#625 캐시 오류 수정
  backend/reviewduck/src/main/java/com/reviewduck/member/service/MemberAggregator.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateAggregator.java
Labels: back-end, 버그

#630 캐시 수정 및 재활성화
  backend/reviewduck/src/main/java/com/reviewduck/ReviewduckApplication.java
  backend/reviewduck/src/main/java/com/reviewduck/member/service/MemberAggregator.java
Labels: back-end, 설정

#632 구글 애널리틱스 추가, 유저 프로필페이직 접근 권한 수정
  frontend/public/index.html
  frontend/src/PageRoutes.tsx
Labels: front-end, 리팩토링
