Repository woowacourse-teams/2022-review-duck, pull requests merged in 2022-09, with the labels that each got.

#367 타임라인 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/admin/controller/AdminReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/auth/controller/URIPattern.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/request/ReviewCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/main/resources/database/migration/V13__add_private_configuration.ddl
  backend/reviewduck/src/test/java/com/reviewduck/admin/service/AdminReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormQuestionRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
Labels: back-end, 기능, 리팩토링

#372 전반적인 리팩토링 진행
  frontend/src/common/components/ScrollPanel/index.tsx
  frontend/src/common/components/Text/index.tsx
  frontend/src/common/components/Text/styles.module.scss
  frontend/src/common/hooks/useDebounce.ts
  frontend/src/common/hooks/useDebounceCallback.ts
  frontend/src/service/@shared/components/Profile/index.tsx
  frontend/src/service/@shared/components/QuestionContent/index.stories.jsx
  frontend/src/service/@shared/components/QuestionContent/index.tsx
  frontend/src/service/@shared/components/QuestionContent/styles.module.scss
  frontend/src/service/@shared/components/QuestionsEditorItem/index.tsx
  frontend/src/service/@shared/utils/getChildComponent.ts
  frontend/src/service/@shared/utils/index.ts
  frontend/src/service/review/components/Profile/index.stories.jsx
  frontend/src/service/review/components/Profile/index.tsx
  frontend/src/service/review/components/Profile/styles.module.scss
  frontend/src/service/review/components/QuestionEditor/index.stories.jsx
  frontend/src/service/review/components/QuestionEditor/index.tsx
  frontend/src/service/review/components/QuestionEditor/styles.module.scss
  frontend/src/service/review/components/Reaction/index.stories.jsx
  frontend/src/service/review/components/Reaction/index.tsx
  frontend/src/service/review/components/Reaction/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateFormEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
Labels: front-end, 리팩토링

#371 전반적인 리팩토링 진행
  frontend/src/api/review.api.ts
  frontend/src/api/template.api.ts
  frontend/src/common/components/Button/index.tsx
  frontend/src/common/components/ErrorBoundary/index.tsx
  frontend/src/common/components/FieldSet/index.stories.jsx
  frontend/src/common/components/FieldSet/index.tsx
  frontend/src/common/components/FieldSet/styles.module.scss
  frontend/src/common/components/Icon/index.tsx
  frontend/src/common/components/Logo/index.tsx
  frontend/src/common/components/Modal/index.tsx
  frontend/src/common/components/ModalProvider/index.tsx
  frontend/src/common/components/PopupBox/index.tsx
  frontend/src/common/components/ProgressBar/index.tsx
  frontend/src/common/components/ScrollPanel/index.tsx
  frontend/src/common/components/Skeleton/index.tsx
  frontend/src/common/components/Snackbar/index.tsx
  frontend/src/common/components/TagLabel/index.tsx
  frontend/src/common/components/TextBox/index.tsx
  frontend/src/common/components/Textarea/index.tsx
  frontend/src/common/components/TransitionDiv/index.tsx
  frontend/src/constant/index.ts
  frontend/src/mocks/handlers/template.js
  frontend/src/mocks/handlers/template.ts
  frontend/src/service/@shared/components/LayoutContainer/index.tsx
  frontend/src/service/@shared/components/NoResult/index.tsx
  frontend/src/service/@shared/components/QuestionCard/index.tsx
  frontend/src/service/@shared/components/QuestionCard/styles.module.scss
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/components/QuestionsEditorItem/index.tsx
  frontend/src/service/@shared/components/RequireAuth/index.tsx
  frontend/src/service/@shared/components/SmallProfileCard/index.tsx
  frontend/src/service/@shared/hooks/queries/review/useGet.ts
  frontend/src/service/@shared/hooks/queries/user/useUpdate.ts
  frontend/src/service/@shared/pages/ErrorPage/index.tsx
  frontend/src/service/@shared/pages/modals/ModalProfileEdit/index.tsx
  frontend/src/service/@shared/pages/modals/ModalProfileEdit/styles.module.scss
  frontend/src/service/@shared/pages/modals/ModalReviewJoin/index.tsx
  frontend/src/service/@shared/validator/index.ts
  frontend/src/service/@shared/validator/review.ts
  frontend/src/service/@shared/validator/user.ts
  frontend/src/service/review/layout/ReviewLayout/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Editor/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Status/styles.module.scss
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/styles.module.scss
  frontend/src/service/template/pages/TemplateFormEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateFormEditorPage/styles.module.scss
  frontend/src/service/user/pages/MainPage/styles.module.scss
  frontend/src/styles/globalStyles.scss
Labels: front-end, 리팩토링

#375 FontAwesome 설치, CheckBox 컴포넌트 추가
  frontend/package.json
  frontend/public/index.html
  frontend/src/common/components/CheckBox/index.stories.tsx
  frontend/src/common/components/CheckBox/index.tsx
  frontend/src/common/components/CheckBox/styles.module.scss
  frontend/yarn.lock
Labels: front-end, 기능

#378 회고 답변 비공개 설정 기능 추가 및 웹팩 설정 수정
  frontend/.webpack/webpack.common.js
  frontend/index.d.ts
  frontend/src/api/review.api.ts
  frontend/src/api/review.transformer.ts
  frontend/src/common/components/CheckBox/index.tsx
  frontend/src/common/components/ToolTip/index.stories.tsx
  frontend/src/common/components/ToolTip/index.tsx
  frontend/src/common/components/ToolTip/styles.module.scss
  frontend/src/common/components/index.ts
  frontend/src/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/useAnswerEditorPage.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Editor/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Editor/styles.module.scss
  frontend/src/types/review.ts
Labels: front-end, 기능

#381 React Query 업데이트
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/config/queryClient.ts
  frontend/src/service/@shared/hooks/queries/auth/useCreate.ts
  frontend/src/service/@shared/hooks/queries/auth/useDelete.ts
  frontend/src/service/@shared/hooks/queries/auth/useGet.ts
  frontend/src/service/@shared/hooks/queries/review/useCreate.ts
  frontend/src/service/@shared/hooks/queries/review/useDelete.ts
  frontend/src/service/@shared/hooks/queries/review/useGet.ts
  frontend/src/service/@shared/hooks/queries/review/useUpdate.ts
  frontend/src/service/@shared/hooks/queries/template/useCreate.ts
  frontend/src/service/@shared/hooks/queries/template/useDelete.ts
  frontend/src/service/@shared/hooks/queries/template/useGet.ts
  frontend/src/service/@shared/hooks/queries/template/useUpdate.ts
  frontend/src/service/@shared/hooks/queries/user/useGet.ts
  frontend/src/service/@shared/hooks/queries/user/useUpdate.ts
  frontend/src/service/review/pages/ReviewFormEditorPage/useReviewFormEditor.ts
  frontend/src/service/template/pages/TemplateFormEditorPage/useTemplateFormEditorPage.ts
  frontend/src/types/common.ts
  frontend/yarn.lock
Labels: front-end, 설정

#382 백엔드 라벨이 존재하는 경우에만 소나큐브가 작동하도록 수정
  .github/workflows/backend-sonarqube.yml
Labels: back-end, 리팩토링

#380 [BE] refactor : uri 구조 리팩토링
  backend/reviewduck/src/main/java/com/reviewduck/auth/config/AuthenticationPrincipalConfig.java
  backend/reviewduck/src/main/java/com/reviewduck/config/SwaggerConfig.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewDisplayBuilder.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/request/ReviewUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewAbstractResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewSheetResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewSynchronizedResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
Labels: back-end, 리팩토링

#379 PaginationNavigator 컴포넌트 구현 및 페이지네이션 적용
  frontend/src/api/template.api.ts
  frontend/src/api/user.api.ts
  frontend/src/common/components/PaginationBar/index.stories.tsx
  frontend/src/common/components/PaginationBar/index.tsx
  frontend/src/common/components/PaginationBar/styles.module.scss
  frontend/src/common/components/index.ts
  frontend/src/constant/index.ts
  frontend/src/service/@shared/hooks/queries/template/useGet.ts
  frontend/src/service/@shared/hooks/queries/user/useGet.ts
  frontend/src/service/template/pages/TemplateDetailPage/useTemplateDetailQueries.ts
  frontend/src/service/template/pages/TemplateListPage/TemplateListContainer.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/styles.module.scss
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/ProfilePage/containers/ReviewList/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/src/service/user/pages/ProfilePage/useProfilePageQueries.ts
  frontend/src/types/template.ts
Labels: front-end, 기능

#383 회고 폼 code 인덱스 추가
  backend/reviewduck/src/main/resources/database/migration/V14__review_form_indexing.ddl
Labels: back-end, 기능

#384 비밀글이 아닌 회고 답변을 최신 순으로 조회하는 경우 회고폼 코드도 함께 반환하도록 수정
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewResponse.java
Labels: back-end

#386 회고 답변 수정시 비공개여부 변경
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
Labels: back-end, 버그

#387 회고 답변 수정시 비공개여부 변경
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/request/ReviewUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
Labels: back-end, 버그

#389 Material Icons 제거 및 FontAwesome 대체
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/PageRoutes.tsx
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/common/components/FieldSet/index.tsx
  frontend/src/common/components/Icon/index.tsx
  frontend/src/common/components/Icon/styles.module.scss
  frontend/src/common/components/ScrollPanel/index.tsx
  frontend/src/common/components/ScrollPanel/styles.module.scss
  frontend/src/common/components/Snackbar/index.tsx
  frontend/src/common/components/index.ts
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/components/QuestionsEditorItem/index.tsx
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/layout/MainLayout/styles.module.scss
  frontend/src/service/@shared/pages/ErrorPage/index.tsx
  frontend/src/service/@shared/pages/modals/ModalProfileEdit/index.tsx
  frontend/src/service/@shared/pages/modals/ModalReviewJoin/index.tsx
  frontend/src/service/@shared/pages/modals/ModalReviewStart/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Editor/index.tsx
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/Header/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/index.tsx
  frontend/src/service/template/components/TemplateCard/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateFormEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/user/pages/Logout/index.tsx
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/ProfilePage/containers/ReviewList/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/src/styles/@app.scss
  frontend/yarn.lock
Labels: front-end, 리팩토링

#392 Repository 리팩토링
  backend/reviewduck/src/main/java/com/reviewduck/admin/repository/AdminMemberRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/repository/AdminReviewFormRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/repository/AdminReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/repository/AdminTemplateRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminMemberService.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminTemplateService.java
  backend/reviewduck/src/main/java/com/reviewduck/member/repository/MemberRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/AnswerRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewFormQuestionRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewFormRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/repository/TemplateQuestionRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/template/repository/TemplateRepository.java
  backend/reviewduck/src/test/java/com/reviewduck/template/repository/TemplateRepositoryTest.java
Labels: back-end, 리팩토링

#385 타임라인 페이지 추가
  frontend/.prettierrc.json
  frontend/src/PageRoutes.tsx
  frontend/src/api/review.api.ts
  frontend/src/api/review.transformer.ts
  frontend/src/common/components/FlexContainer/index.tsx
  frontend/src/common/components/Text/index.tsx
  frontend/src/constant/index.ts
  frontend/src/service/@shared/components/Profile/styles.module.scss
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/components/QuestionsEditorItem/index.tsx
  frontend/src/service/@shared/hooks/queries/review/useGet.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/pages/ErrorPage/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Editor/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/views/Status/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/Header/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/styles.module.scss
  frontend/src/service/review/pages/ReviewTimelinePage/views/Feed/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/views/Feed/styles.module.scss
  frontend/src/service/review/pages/ReviewTimelinePage/views/SideMenu/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/views/SideMenu/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/types/review.ts
Labels: front-end, 기능

#398 XSS 필터 비활성화 / SupressWarning 추가
  backend/reviewduck/src/main/java/com/reviewduck/config/xss/XssConfig.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/ReviewForm.java
Labels: back-end, 설정

#402 타임라인에 페이지네이션을 적용
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/TimelineReviewsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/vo/ReviewPageConstant.java
  backend/reviewduck/src/main/java/com/reviewduck/review/vo/ReviewSortType.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/vo/TemplatePageConstant.java
  backend/reviewduck/src/main/java/com/reviewduck/template/vo/TemplateSortType.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/vo/ReviewSortTypeTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/vo/TemplateSortTypeTest.java
Labels: back-end, 기능

#401 회고 폼 삭제 이후에도 마이페이지에 나타나는 버그수정
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewFormRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
Labels: back-end, 버그

#405 회고 좋아요 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/auth/config/AuthenticationPrincipalConfig.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/request/ReviewLikesRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewLikesResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/main/resources/database/migration/V15__review_likes.ddl
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
Labels: back-end, 기능

#408 템플릿 전체조회시 마지막 페이지 여부 추가 반환
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplatesResponse.java
Labels: back-end, 기능

#407 오버뷰 페이지네이션 적용
  backend/reviewduck/src/main/java/com/reviewduck/admin/controller/AdminReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/repository/AdminReviewFormRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/repository/AdminReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/admin/service/AdminReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewDisplayBuilder.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewsOfReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
Labels: back-end, 기능

#410 톰캣 설정 변경 ( threads.max=150, accept-count=10 )
  backend/reviewduck/src/main/resources/application-was1.properties
  backend/reviewduck/src/main/resources/application-was2.properties
  backend/reviewduck/src/main/resources/application.properties
Labels: back-end, 설정

#411 톰캣 설정 변경 ( threads.max=300, accept-count=10 )
  backend/reviewduck/src/main/resources/application-was1.properties
  backend/reviewduck/src/main/resources/application-was2.properties
  backend/reviewduck/src/main/resources/application.properties
Labels: back-end, 설정

#414 오버뷰 ReviewFormAnswer api 명세 수정에 따른 타입 변경
  frontend/src/api/review.transformer.ts
  frontend/src/types/review.ts
Labels: front-end, 버그

#415 환경변수 분리
  backend/reviewduck/src/main/resources/application-was1.properties
  backend/reviewduck/src/main/resources/application-was2.properties
  backend/reviewduck/src/main/resources/application.properties
Labels: back-end, 설정

#419 페이지네이션시 마지막 페이지 여부 추가 반환
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/MemberReviewFormsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewsOfReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/TimelineReviewsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/MemberTemplatesResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplatesResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
Labels: back-end, 기능

#421 ScrollPanel 전역 Hover 시 조작 버튼 출력되도록 변경
  frontend/src/common/components/ScrollPanel/index.tsx
  frontend/src/common/components/ScrollPanel/styles.module.scss
Labels: front-end, 리팩토링

#422 페이지네이션시 마지막 페이지 여부 추가 반환시 계산 로직 간소화
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/MemberReviewFormsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewsOfReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/TimelineReviewsResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/MemberTemplatesResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/response/TemplatesResponse.java
Labels: back-end, 리팩토링

#403 프로필 페이지 리팩토링 및 생성한 템플릿 조회 기능 추가
  frontend/src/App.tsx
  frontend/src/PageRoutes.tsx
  frontend/src/api/user.api.ts
  frontend/src/api/user.transformer.ts
  frontend/src/common/components/ErrorBoundary/index.tsx
  frontend/src/common/components/PaginationBar/index.tsx
  frontend/src/constant/index.ts
  frontend/src/service/@shared/hooks/queries/review/useDelete.ts
  frontend/src/service/@shared/hooks/queries/template/useDelete.ts
  frontend/src/service/@shared/hooks/queries/user/useGet.ts
  frontend/src/service/@shared/validator/user.ts
  frontend/src/service/template/pages/TemplateFormEditorPage/index.tsx
  frontend/src/service/template/pages/TemplateListPage/TemplateListContainer.tsx
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/user/pages/ProfilePage/containers/ReviewList/index.tsx
  frontend/src/service/user/pages/ProfilePage/containers/ReviewList/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/src/service/user/pages/ProfilePage/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/useProfilePageQueries.ts
  frontend/src/service/user/pages/ProfilePage/view/ArticleList/index.tsx
  frontend/src/service/user/pages/ProfilePage/view/ArticleList/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/view/Controller/index.tsx
  frontend/src/service/user/pages/ProfilePage/view/Controller/styles.module.scss
  frontend/src/types/user.ts
Labels: front-end, 기능, 리뷰 필요, 리팩토링

#418 타임라인 페이지에서 좋아요 기능 구현
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.dev.js
  frontend/.webpack/webpack.prod.js
  frontend/index.d.ts
  frontend/src/api/review.api.ts
  frontend/src/api/review.transformer.ts
  frontend/src/common/hooks/useDebounce.ts
  frontend/src/common/hooks/usePrevious.ts
  frontend/src/common/hooks/useStackFetch.ts
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/components/Questions/styles.module.scss
  frontend/src/service/@shared/components/Reactions/index.stories.tsx
  frontend/src/service/@shared/components/Reactions/index.tsx
  frontend/src/service/@shared/components/Reactions/styles.module.scss
  frontend/src/service/@shared/components/Reactions/useIconEffectStack.ts
  frontend/src/service/@shared/utils/getRandomNumber.ts
  frontend/src/service/@shared/utils/index.ts
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
  frontend/src/styles/@app.scss
  frontend/src/types/review.ts
  frontend/tsconfig.json
Labels: front-end, 기능, 리뷰 필요

#423 ProfilePage 회고 답변 목록 타입 에러 수정
  frontend/src/service/user/pages/ProfilePage/view/ArticleList/index.tsx
Labels: front-end, 버그

#424 XSS 필터 비활성화
  backend/reviewduck/src/main/java/com/reviewduck/config/xss/XssConfig.java
  backend/reviewduck/src/test/java/com/reviewduck/filter/XssFilterTest.java
Labels: back-end, 기능

#426 통합 전 리팩토링
  backend/reviewduck/src/main/java/com/reviewduck/common/vo/PageConstant.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/request/ReviewLikesRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/vo/TemplatePageConstant.java
Labels: back-end, 리팩토링

#427 타임라인 좋아요 순 정렬 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/review/vo/ReviewSortType.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
Labels: back-end, 기능

#429 테스트코드 수정
  backend/reviewduck/src/test/java/com/reviewduck/review/vo/ReviewSortTypeTest.java
Labels: back-end, 테스트

#434 회고 폼 조회시 참여자 정보를 제공하는 기능 추가
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
Labels: back-end, 기능, 리팩토링

#435 TimelinePage, OverviewPage 무한스크롤 구현
  frontend/.eslintrc.json
  frontend/src/api/review.api.ts
  frontend/src/api/review.transformer.ts
  frontend/src/constant/index.ts
  frontend/src/mocks/handlers/template.ts
  frontend/src/service/@shared/hooks/queries/review/useGet.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/layout/MainLayout/styles.module.scss
  frontend/src/service/@shared/validator/common.ts
  frontend/src/service/@shared/validator/index.ts
  frontend/src/service/@shared/validator/user.ts
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/useOverviewQueries.ts
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/SheetView/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/useIntersectionObserver.ts
  frontend/src/service/review/pages/ReviewTimelinePage/views/Feed/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/views/Feed/styles.module.scss
  frontend/src/service/review/pages/ReviewTimelinePage/views/SideMenu/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/views/SideMenu/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/useTemplateDetailQueries.ts
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/src/service/user/pages/ProfilePage/useProfilePageQueries.ts
  frontend/src/service/user/pages/ProfilePage/view/Controller/index.tsx
  frontend/src/service/user/pages/ProfilePage/view/Controller/styles.module.scss
  frontend/src/types/common.ts
  frontend/src/types/review.ts
Labels: front-end, 기능, 리뷰 필요

#436 회고 질문 추가 시 2개씩 추가되는 버그 및 제거 시 1글자 남아있는 버그 수정
  frontend/src/service/@shared/components/QuestionsEditor/index.tsx
  frontend/src/service/@shared/components/QuestionsEditorItem/index.tsx
Labels: front-end, 버그

#428 지속적인 통합 (09/21 No.2)
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/vo/ReviewSortType.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/vo/ReviewSortTypeTest.java
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/api/review.api.ts
  frontend/src/api/review.transformer.ts
  frontend/src/constant/index.ts
  frontend/src/mocks/handlers/template.ts
  frontend/src/service/@shared/components/QuestionsEditor/index.tsx
  frontend/src/service/@shared/components/QuestionsEditorItem/index.tsx
  frontend/src/service/@shared/hooks/queries/review/useGet.ts
  frontend/src/service/@shared/layout/MainLayout/Header.tsx
  frontend/src/service/@shared/layout/MainLayout/styles.module.scss
  frontend/src/service/@shared/validator/common.ts
  frontend/src/service/@shared/validator/index.ts
  frontend/src/service/@shared/validator/user.ts
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/useOverviewQueries.ts
  frontend/src/service/review/pages/ReviewOverviewPage/views/ListView/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/views/SheetView/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/useIntersectionObserver.ts
  frontend/src/service/review/pages/ReviewTimelinePage/views/Feed/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/views/Feed/styles.module.scss
  frontend/src/service/review/pages/ReviewTimelinePage/views/SideMenu/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/views/SideMenu/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/template/pages/TemplateDetailPage/useTemplateDetailQueries.ts
  frontend/src/service/template/pages/TemplateListPage/index.tsx
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/src/service/user/pages/ProfilePage/useProfilePageQueries.ts
  frontend/src/service/user/pages/ProfilePage/view/Controller/index.tsx
  frontend/src/service/user/pages/ProfilePage/view/Controller/styles.module.scss
  frontend/src/types/common.ts
  frontend/src/types/review.ts
Labels: back-end

#437 타임라인 로딩 이미지 구현 방식 수정
  frontend/src/common/hooks/useIntersectionObserver.ts
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/views/Feed/index.tsx
Labels: front-end, 버그, 리뷰 필요

#441 Code Splitting 적용 및 버그 수정
  frontend/.webpack/webpack.common.js
  frontend/src/PageRoutes.tsx
  frontend/src/routes/index.ts
  frontend/src/service/@shared/utils/getElapsedTimeText.ts
  frontend/tsconfig.json
Labels: front-end, 버그, 리뷰 필요, 리팩토링

#443 Github Profile 사이즈 조정
  frontend/src/service/@shared/components/Profile/index.tsx
  frontend/src/styles/@app.scss
  frontend/src/styles/fontFace.scss
Labels: front-end, 설정

#444 프론트엔드 회고 영역 E2E 테스트 추가
  .github/workflows/frontend-e2e-test.yml
  frontend/cypress.config.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/package.json
  frontend/src/mocks/data.js
  frontend/src/service/@shared/components/Profile/index.tsx
  frontend/src/service/@shared/components/QuestionsEditorItem/index.tsx
  frontend/src/tests/e2e.review.spec.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: front-end, 설정

#447 e2e github action 수정
  .github/workflows/frontend-e2e-test.yml
Labels: front-end

#448 [FE] config : actions 수정
  .github/workflows/frontend-e2e-test.yml
Labels: front-end

#450 [FE] fix : 오버뷰 무한스크롤 버그 수정
  frontend/src/common/hooks/useIntersectionObserver.ts
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
Labels: front-end, 버그

#451 [FE] fix : 오버뷰 페이지ReviwFormAnswer reviewFormCode 쿼리키 추가
  frontend/src/service/@shared/hooks/queries/review/useGet.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
Labels: front-end, 버그

#452 좋아요 실패 시 카운트 차감 처리 버그 수정
  frontend/.webpack/webpack.dev.js
  frontend/package.json
  frontend/src/service/@shared/components/Reactions/styles.module.scss
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
Labels: front-end, 버그

#453 지속적인 통합 (09/23)
  .github/workflows/frontend-e2e-test.yml
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.dev.js
  frontend/cypress.config.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/package.json
  frontend/src/PageRoutes.tsx
  frontend/src/common/hooks/useIntersectionObserver.ts
  frontend/src/mocks/data.js
  frontend/src/routes/index.ts
  frontend/src/service/@shared/components/Profile/index.tsx
  frontend/src/service/@shared/components/QuestionsEditorItem/index.tsx
  frontend/src/service/@shared/components/Reactions/styles.module.scss
  frontend/src/service/@shared/hooks/queries/review/useGet.ts
  frontend/src/service/@shared/utils/getElapsedTimeText.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/index.tsx
  frontend/src/service/review/pages/ReviewTimelinePage/useIntersectionObserver.ts
  frontend/src/service/review/pages/ReviewTimelinePage/views/Feed/index.tsx
  frontend/src/styles/@app.scss
  frontend/src/styles/fontFace.scss
  frontend/src/tests/e2e.review.spec.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: front-end, back-end

#454 [FE] fix : 마이페이지 템플릿 디테일 링크 버그 수정
  frontend/src/service/user/pages/ProfilePage/index.tsx
Labels: front-end, 버그

#484 회고를 수정한 경우 회고가 삭제되지 않는 버그 수정
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/QuestionAnswerRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/QuestionAnswerService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
Labels: back-end, 버그

#455 [FE] fix : nickname 한글 되도록 수정
  frontend/src/constant/index.ts
Labels: front-end, 버그

#485 batch 조회 적용 및 정렬 기준 수정
  backend/reviewduck/src/main/java/com/reviewduck/member/repository/MemberRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewsOfReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/service/ReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/review/vo/ReviewSortType.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/vo/TemplateSortType.java
  backend/reviewduck/src/main/resources/application.properties
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/vo/ReviewSortTypeTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/vo/TemplateSortTypeTest.java
Labels: back-end, 리팩토링

#486 Template, TemplateQuestion 연관관계 일대다 단방향 -> 일대다 다대일 양방향
  backend/reviewduck/src/main/java/com/reviewduck/admin/dto/response/AdminTemplateResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/template/domain/Template.java
  backend/reviewduck/src/main/java/com/reviewduck/template/domain/TemplateQuestion.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/request/TemplateCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/request/TemplateQuestionCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/request/TemplateQuestionUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/request/TemplateUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/response/CreatorResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/response/MemberTemplateResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/response/MemberTemplatesResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/response/TemplateIdResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/response/TemplateInfoResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/response/TemplateQuestionResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/response/TemplateResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/response/TemplateSummaryResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/controller/response/TemplatesResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/service/ServiceDtoConverter.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/service/TemplateQuestionCreateDto.java
  backend/reviewduck/src/main/java/com/reviewduck/template/dto/service/TemplateQuestionUpdateDto.java
  backend/reviewduck/src/main/java/com/reviewduck/template/repository/TemplateQuestionRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateQuestionService.java
  backend/reviewduck/src/main/java/com/reviewduck/template/service/TemplateService.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/controller/TemplateControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/domain/TemplateTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/template/service/TemplateServiceTest.java
Labels: back-end, 리팩토링

#487 MainPage 리팩토링 진행
  frontend/src/App.tsx
  frontend/src/common/components/index.ts
  frontend/src/service/review/pages/ReviewAnswerEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/view/Editor/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/view/Editor/styles.module.scss
  frontend/src/service/review/pages/ReviewAnswerEditorPage/view/Status/index.tsx
  frontend/src/service/review/pages/ReviewAnswerEditorPage/view/Status/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/view/Header/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/view/Header/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/view/ListView/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/view/ListView/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/view/SheetView/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/view/SheetView/styles.module.scss
  frontend/src/service/template/pages/TemplateDetailPage/index.tsx
  frontend/src/service/user/pages/MainPage/index.tsx
  frontend/src/service/user/pages/MainPage/styles.module.scss
  frontend/src/service/user/pages/MainPage/view/Intro/index.tsx
  frontend/src/service/user/pages/MainPage/view/Intro/styles.module.scss
  frontend/src/service/user/pages/MainPage/view/TrendTemplate/index.tsx
  frontend/src/service/user/pages/MainPage/view/TrendTemplate/styles.module.scss
Labels: front-end, 리팩토링

#460 템플릿 유저페이지 편집 및 생성 후 리스트에 적용 안 되는 버그 수정
  frontend/src/service/@shared/components/Questions/index.tsx
  frontend/src/service/@shared/hooks/queries/template/useCreate.ts
  frontend/src/service/review/pages/ReviewFormEditorPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/user/pages/ProfilePage/index.tsx
  frontend/src/service/user/pages/ProfilePage/styles.module.scss
  frontend/src/service/user/pages/ProfilePage/useProfilePageQueries.ts
  frontend/src/service/user/pages/ProfilePage/view/ArticleList/index.tsx
  frontend/src/service/user/pages/ProfilePage/view/ArticleList/styles.module.scss
Labels: front-end, 버그
