Repository woowacourse-teams/2022-review-duck, pull requests merged in 2022-07, with the labels that each got.

#4 프론트엔드 프로젝트 패키지 설치 진행
  .gitignore
  frontend/.eslintrc.json
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.dev.js
  frontend/.webpack/webpack.prod.js
  frontend/babel.config.js
  frontend/index.d.ts
  frontend/package.json
  frontend/src/index.tsx
  frontend/webpack.common.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
  frontend/yarn.lock
Labels: front-end, 기능

#11 피그마에서 추출한 디자인 토큰 JSON을 Sass로 변환하여주는 기능 추가
  .github/workflows/designTokensAction.yml
  frontend/.design-tokens/designTokens.json
  frontend/.design-tokens/designTokensConverter.js
  frontend/.design-tokens/figmaTokenToSassVar.js
  frontend/.design-tokens/fileManager.js
Labels: front-end, 기능

#17 [FE] fix : 디자인 토큰 생성 깃허브 액션 버그 수정
  .github/workflows/designTokensAction.yml
Labels: front-end, 버그

#18 디자인 토큰 관련 Scss 파일 추가 및 버그 수정
  .github/workflows/designTokensAction.yml
  frontend/.design-tokens/designTokensConverter.js
  frontend/src/styles/designTokens.scss
Labels: front-end, 기능, 버그

#14 회고 폼 생성 기능 구현
  backend/reviewduck/build.gradle
  backend/reviewduck/src/main/java/com/reviewduck/ReviewduckApplication.java
  backend/reviewduck/src/main/java/com/reviewduck/controller/ControllerAdvice.java
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/Question.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/ErrorResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/ReviewFormCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/ReviewFormCreateResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/exception/CustomException.java
  backend/reviewduck/src/main/java/com/reviewduck/exception/QuestionException.java
  backend/reviewduck/src/main/java/com/reviewduck/exception/ReviewFormException.java
  backend/reviewduck/src/main/java/com/reviewduck/repository/QuestionRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/repository/ReviewFormRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/service/ReviewFormService.java
  backend/reviewduck/src/test/java/com/reviewduck/ReviewduckApplicationTests.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/AcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/QuestionTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/ReviewFormTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/QuestionRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewFormServiceTest.java
Labels: back-end, 기능

#21 입장코드 형식 변경 구현
  backend/reviewduck/src/main/java/com/reviewduck/domain/ReviewForm.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewFormServiceTest.java
Labels: back-end, 기능

#26 범용 컴포넌트 구현 및 프로젝트 추가 설정
  frontend/.cssrem
  frontend/.design-tokens/designTokens.json
  frontend/.prettierrc.json
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.webpack/webpack.common.js
  frontend/index.d.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/core/components/Button/index.stories.jsx
  frontend/src/core/components/Button/index.tsx
  frontend/src/core/components/Button/styles.module.scss
  frontend/src/core/components/FieldSet/index.stories.jsx
  frontend/src/core/components/FieldSet/index.tsx
  frontend/src/core/components/FieldSet/styles.module.scss
  frontend/src/core/components/Icon/index.tsx
  frontend/src/core/components/Icon/styles.module.scss
  frontend/src/styles/@app.scss
  frontend/src/styles/@global.scss
  frontend/src/styles/designTokens.scss
  frontend/src/styles/fontFace.scss
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: front-end, 기능

#35 회고 생성, 참여 페이지 컴포넌트 작성
  frontend/src/core/components/Button/index.tsx
  frontend/src/core/components/Button/styles.module.scss
  frontend/src/core/components/FieldSet/index.stories.jsx
  frontend/src/service/review/pages/CreateReviewPage/index.stories.jsx
  frontend/src/service/review/pages/CreateReviewPage/index.tsx
  frontend/src/service/review/pages/CreateReviewPage/styles.module.scss
  frontend/src/service/review/pages/JoinReviewPage/index.stories.jsx
  frontend/src/service/review/pages/JoinReviewPage/index.tsx
  frontend/src/service/review/pages/JoinReviewPage/styles.module.scss
  frontend/src/styles/@app.scss
Labels: front-end, 기능

#37 회고 레이아웃 추가 및 웹팩 설정 수정
  frontend/.design-tokens/designTokens.json
  frontend/.storybook/main.js
  frontend/.webpack/webpack.common.js
  frontend/package.json
  frontend/src/core/components/Button/styles.module.scss
  frontend/src/core/components/FieldSet/styles.module.scss
  frontend/src/service/review/layout/ReviewLayout/index.stories.jsx
  frontend/src/service/review/layout/ReviewLayout/index.tsx
  frontend/src/service/review/layout/ReviewLayout/styles.module.scss
  frontend/src/styles/@app.scss
  frontend/src/styles/designTokens.scss
  frontend/src/styles/resetCss.css
Labels: front-end, 기능

#28 회고 작성 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/controller/ControllerAdvice.java
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/Answer.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/request/AnswerRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/request/ReviewCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/request/ReviewFormCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/ErrorResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/QuestionResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/ReviewFormCreateResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/ReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/exception/AnswerException.java
  backend/reviewduck/src/main/java/com/reviewduck/exception/NotFoundException.java
  backend/reviewduck/src/main/java/com/reviewduck/exception/ReviewException.java
  backend/reviewduck/src/main/java/com/reviewduck/repository/AnswerRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/repository/ReviewFormRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/repository/ReviewRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/AcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/AnswerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/QuestionTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/ReviewTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/AnswerRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewServiceTest.java
Labels: back-end, 기능

#39 존재하지 않는 질문 문제 해결
  backend/reviewduck/src/main/java/com/reviewduck/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/ReviewTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewServiceTest.java
Labels: back-end, 기능

#42 Router 구현 및 페이지 레이아웃 적용
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.dev.js
  frontend/.webpack/webpack.prod.js
  frontend/index.d.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/PageRoutes.tsx
  frontend/src/assets/images/demo-create.png
  frontend/src/assets/svg/logo_filled_bold.svg
  frontend/src/common/components/Button/index.stories.jsx
  frontend/src/common/components/Button/index.tsx
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/common/components/FieldSet/index.stories.jsx
  frontend/src/common/components/FieldSet/index.tsx
  frontend/src/common/components/FieldSet/styles.module.scss
  frontend/src/common/components/Icon/index.tsx
  frontend/src/common/components/Icon/styles.module.scss
  frontend/src/service/review/layout/ReviewLayout/index.tsx
  frontend/src/service/review/layout/ReviewLayout/styles.module.scss
  frontend/src/service/review/pages/CreateReviewPage/index.tsx
  frontend/src/service/review/pages/CreateReviewPage/styles.module.scss
  frontend/src/service/review/pages/JoinReviewPage/index.tsx
  frontend/src/service/review/pages/JoinReviewPage/styles.module.scss
  frontend/src/styles/@app.scss
  frontend/src/styles/fontFace.scss
  frontend/yarn.lock
Labels: front-end, 기능

#48 중복되는 테스트 로직 분리
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewServiceTest.java
Labels: back-end, 테스트

#49 회고 참여 페이지 작성
  frontend/.webpack/webpack.common.js
  frontend/src/PageRoutes.tsx
  frontend/src/assets/svg/logo_filled_bold.svg
  frontend/src/common/components/Logo/index.stories.jsx
  frontend/src/common/components/Logo/index.tsx
  frontend/src/common/components/Logo/styles.module.scss
  frontend/src/common/components/ProgressBar/index.stories.jsx
  frontend/src/common/components/ProgressBar/index.tsx
  frontend/src/common/components/ProgressBar/styles.module.scss
  frontend/src/service/review/pages/SubmitReviewPage/index.stories.jsx
  frontend/src/service/review/pages/SubmitReviewPage/index.tsx
  frontend/src/service/review/pages/SubmitReviewPage/styles.module.scss
  frontend/src/styles/@app.scss
Labels: front-end, 기능

#58 CORS 허용
  backend/reviewduck/src/main/java/com/reviewduck/config/WebConfig.java
Labels: back-end, 설정

#63 회고 폼 생성 / 회고 답변 페이지 완성 & 1차 스프린트 종료 후 리팩터링
  frontend/.prettierrc.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/PageRoutes.tsx
  frontend/src/assets/images/dom.png
  frontend/src/common/components/Button/index.stories.jsx
  frontend/src/common/components/Button/index.tsx
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/common/components/FieldSet/index.stories.jsx
  frontend/src/common/components/FieldSet/index.tsx
  frontend/src/common/components/FieldSet/styles.module.scss
  frontend/src/common/components/Icon/index.tsx
  frontend/src/common/components/Icon/styles.module.scss
  frontend/src/common/components/Logo/index.stories.jsx
  frontend/src/common/components/Logo/index.tsx
  frontend/src/common/components/ProgressBar/index.stories.jsx
  frontend/src/common/components/ProgressBar/index.tsx
  frontend/src/common/components/Text/index.stories.jsx
  frontend/src/common/components/Text/index.tsx
  frontend/src/common/components/TextBox/index.stories.jsx
  frontend/src/common/components/TextBox/index.tsx
  frontend/src/common/components/TextBox/styles.module.scss
  frontend/src/common/components/index.ts
  frontend/src/common/utils/index.ts
  frontend/src/common/utils/setFormFocus.ts
  frontend/src/index.tsx
  frontend/src/service/review/components/QuestionCard/index.stories.jsx
  frontend/src/service/review/components/QuestionCard/index.tsx
  frontend/src/service/review/components/QuestionCard/styles.module.scss
  frontend/src/service/review/components/QuestionEditor/index.stories.jsx
  frontend/src/service/review/components/QuestionEditor/index.tsx
  frontend/src/service/review/components/QuestionEditor/styles.module.scss
  frontend/src/service/review/hooks/useQuestions.ts
  frontend/src/service/review/layout/ReviewLayout/index.stories.jsx
  frontend/src/service/review/layout/ReviewLayout/index.tsx
  frontend/src/service/review/layout/ReviewLayout/styles.module.scss
  frontend/src/service/review/pages/CreateReviewFormPage/index.stories.jsx
  frontend/src/service/review/pages/CreateReviewFormPage/index.tsx
  frontend/src/service/review/pages/CreateReviewFormPage/styles.module.scss
  frontend/src/service/review/pages/CreateReviewPage/index.stories.jsx
  frontend/src/service/review/pages/CreateReviewPage/index.tsx
  frontend/src/service/review/pages/JoinReviewPage/index.stories.jsx
  frontend/src/service/review/pages/JoinReviewPage/index.tsx
  frontend/src/service/review/pages/JoinReviewPage/styles.module.scss
  frontend/src/service/review/pages/MainPage/index.tsx
  frontend/src/service/review/pages/MainPage/styles.module.scss
  frontend/src/service/review/pages/SubmitReviewPage/index.stories.jsx
  frontend/src/service/review/pages/SubmitReviewPage/index.tsx
  frontend/src/service/review/pages/SubmitReviewPage/styles.module.scss
  frontend/src/service/review/types/index.ts
  frontend/src/styles/@app.scss
  frontend/yarn.lock
Labels: front-end, 기능, 설정

#65 React Query 설치 및 기본 구조 작성
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/service/review/api/index.ts
  frontend/yarn.lock
Labels: front-end, 설정

#66 로깅 기능 추가
  backend/reviewduck/src/main/java/com/reviewduck/config/WebConfig.java
  backend/reviewduck/src/main/java/com/reviewduck/controller/ControllerAdvice.java
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/request/AnswerRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/request/QuestionRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/request/ReviewCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/request/ReviewFormCreateRequest.java
Labels: back-end, 기능

#70 API 자동 문서화 기능 추가
  backend/reviewduck/build.gradle
  backend/reviewduck/src/main/java/com/reviewduck/config/SwaggerConfig.java
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewFormController.java
Labels: back-end, 문서

#71 dotenv 설치 및 웹팩 환경변수 추가 & 적용
  frontend/.storybook/main.js
  frontend/.webpack/webpack.common.js
  frontend/.webpack/webpack.dev.js
  frontend/.webpack/webpack.prod.js
  frontend/env/development.env
  frontend/env/production.env
  frontend/package.json
  frontend/yarn.lock
Labels: front-end, 설정

#72 회고 수정 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/service/ReviewService.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/AcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewServiceTest.java
Labels: back-end, 기능

#73 회고 삭제 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/request/ReviewRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/service/ReviewService.java
  backend/reviewduck/src/main/resources/application.properties
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/AcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewServiceTest.java
Labels: back-end, 기능

#82 순서를 위해 명시적으로 컬럼 추가
  backend/reviewduck/src/main/java/com/reviewduck/domain/Question.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/QuestionAnswer.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/ReviewForm.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/ReviewFormTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/ReviewTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewServiceTest.java
Labels: back-end, 기능

#94 데이터베이스 설정을 MySQL로 변경
  backend/reviewduck/src/main/java/com/reviewduck/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/ReviewForm.java
  backend/reviewduck/src/main/resources/application.properties
  backend/reviewduck/src/main/resources/database/migration/Version1_init.sql
Labels: back-end, 설정

#97 템플릿 생성 / 템플릿 기반 회고 폼 생성 기능
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewController.java
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/Template.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/request/ReviewFormCreateFromTemplateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/request/TemplateCreateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/TemplateCreateResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/exception/TemplateException.java
  backend/reviewduck/src/main/java/com/reviewduck/repository/TemplateRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/service/ReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/service/TemplateService.java
  backend/reviewduck/src/main/resources/database/migration/Version2_createTemplate.sql
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/ReviewFormAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/controller/ReviewControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/controller/ReviewFormControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/controller/TemplateControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/ReviewFormTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/TemplateTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/TemplateServiceTest.java
Labels: back-end, 기능

#100 템플릿 조회 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/TemplateResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/TemplatesFindResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/service/TemplateService.java
  backend/reviewduck/src/main/resources/database/migration/Version1_init.sql
  backend/reviewduck/src/main/resources/database/migration/Version2_createTemplate.sql
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/TemplateServiceTest.java
Labels: back-end, 기능

#95 회고 답변 및 참여 API 연결
  frontend/env/development.env
  frontend/env/production.env
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/PageRoutes.tsx
  frontend/src/common/components/ErrorBoundary/index.tsx
  frontend/src/common/components/index.ts
  frontend/src/common/utils/index.ts
  frontend/src/common/utils/request/createRequest.ts
  frontend/src/common/utils/request/index.ts
  frontend/src/common/utils/request/requestUtils.ts
  frontend/src/service/review/api/index.ts
  frontend/src/service/review/hooks/useQuestions.ts
  frontend/src/service/review/pages/CreateReviewFormPage/index.tsx
  frontend/src/service/review/pages/CreateReviewFormPage/useReviewForm.ts
  frontend/src/service/review/pages/JoinReviewPage/index.tsx
  frontend/src/service/review/pages/MainPage/index.tsx
  frontend/src/service/review/pages/SubmitReviewPage/index.tsx
  frontend/src/service/review/pages/SubmitReviewPage/useReview.ts
  frontend/src/service/review/types/index.ts
  frontend/yarn.lock
Labels: front-end, 기능

#103 회고폼 및 회고 답변에 생성시간, 수정시간 추가
  backend/reviewduck/src/main/java/com/reviewduck/config/JpaAuditingConfig.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/BaseDate.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/Review.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/ReviewResponse.java
  backend/reviewduck/src/main/resources/database/migration/Version3_addTime.sql
Labels: back-end, 기능

#101 템플릿 수정 / 삭제 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/controller/TemplateController.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/Template.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/request/TemplateUpdateRequest.java
  backend/reviewduck/src/main/java/com/reviewduck/service/TemplateService.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/AcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/TemplateAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/controller/TemplateControllerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/TemplateServiceTest.java
  backend/reviewduck/src/test/resources/truncate.sql
Labels: back-end, 기능

#108 회고폼 조회시 수정시간 반환
  backend/reviewduck/src/main/java/com/reviewduck/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/ReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/ReviewsFindResponse.java
Labels: back-end, 기능

#111 날짜별 로그 파일 관리
  backend/reviewduck/src/main/resources/application.properties
Labels: back-end, 설정

#116 템플릿의 질문과 회고 폼의 질문을 분리
  backend/reviewduck/src/main/java/com/reviewduck/domain/QuestionAnswer.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/ReviewForm.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/ReviewFormQuestion.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/Template.java
  backend/reviewduck/src/main/java/com/reviewduck/domain/TemplateQuestion.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/AnswerResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/QuestionResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/ReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/dto/response/ReviewResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/repository/QuestionRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/repository/TemplateQuestionRepository.java
  backend/reviewduck/src/main/java/com/reviewduck/service/ReviewFormService.java
  backend/reviewduck/src/main/java/com/reviewduck/service/ReviewService.java
  backend/reviewduck/src/main/java/com/reviewduck/service/TemplateService.java
  backend/reviewduck/src/main/resources/database/migration/Version4_init.sql
  backend/reviewduck/src/test/java/com/reviewduck/acceptance/AcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/ReviewFormQuestionTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/ReviewFormTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/ReviewTest.java
  backend/reviewduck/src/test/java/com/reviewduck/domain/TemplateTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewFormQuestionRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewFormRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/ReviewRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/repository/TemplateRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewFormServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/ReviewServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/service/TemplateServiceTest.java
  backend/reviewduck/src/test/resources/truncate.sql
Labels: back-end, 리팩토링

#126 PostCSS, Autoprefixer, MiniCssExtractPlugin 설치 및 설정
  frontend/.webpack/webpack.common.js
  frontend/package.json
  frontend/postcss.config.js
  frontend/yarn.lock
Labels: front-end, 설정

#130 React Router 경고 해결
  frontend/src/PageRoutes.tsx
  frontend/src/service/review/pages/ReviewPage/index.tsx
Labels: front-end, 버그

#131 디자인 토큰 테마 기능 기반 구현
  .github/workflows/designTokensAction.yml
  frontend/.design-tokens/CssThemeVarConverter.js
  frontend/.design-tokens/FigmaTokenToSassVarConverter.js
  frontend/.design-tokens/designTokens.json
  frontend/.design-tokens/designTokensConverter.js
  frontend/.design-tokens/figmaTokenToSassVar.js
  frontend/.design-tokens/index.js
  frontend/public/index.html
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/common/components/FieldSet/styles.module.scss
  frontend/src/common/components/Logo/styles.module.scss
  frontend/src/common/components/ProgressBar/styles.module.scss
  frontend/src/common/components/TextBox/styles.module.scss
  frontend/src/service/review/components/Profile/styles.module.scss
  frontend/src/service/review/components/QuestionCard/styles.module.scss
  frontend/src/service/review/components/QuestionContent/styles.module.scss
  frontend/src/service/review/components/QuestionEditor/styles.module.scss
  frontend/src/service/review/components/Reaction/styles.module.scss
  frontend/src/service/review/pages/MainPage/styles.module.scss
  frontend/src/service/review/pages/ReviewFormPage/styles.module.scss
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/service/review/pages/ReviewPage/styles.module.scss
  frontend/src/styles/@app.scss
  frontend/src/styles/designTokens.scss
  frontend/src/styles/theme.scss
Labels: front-end, 기능

#136 회고 폼 생성 페이지에 접근되지 않는 문제 해결
  frontend/src/PageRoutes.tsx
Labels: front-end, 버그

#135 프론트엔드 코딩 컨벤션 초안 작성
  frontend/docs/convention.md
Labels: front-end, 문서

#140 [FE] ReviewLayoutLoading 컴포넌트 구현
  frontend/src/service/review/layout/ReviewLayout/ReviewLayoutLoading.tsx
  frontend/src/service/review/layout/ReviewLayout/index.tsx
  frontend/src/service/review/layout/ReviewLayout/styles.module.scss
Labels: front-end, 리팩토링

#143 메인 화면 레이아웃 컴포넌트 초안 작성
  frontend/.design-tokens/designTokens.json
  frontend/src/PageRoutes.tsx
  frontend/src/common/components/Button/styles.module.scss
  frontend/src/service/community/layout/CommunityLayout/index.stories.jsx
  frontend/src/service/community/layout/CommunityLayout/index.tsx
  frontend/src/service/community/layout/CommunityLayout/styles.module.scss
  frontend/src/service/review/layout/ReviewLayout/styles.module.scss
  frontend/src/service/review/pages/Playground/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/index.tsx
  frontend/src/service/review/pages/ReviewOverviewPage/styles.module.scss
  frontend/src/styles/@app.scss
  frontend/src/styles/designTokens.scss
  frontend/src/styles/theme.scss
Labels: front-end, 기능

#142 서버측 XSS 공격 방지 기능 구현
  backend/reviewduck/build.gradle
  backend/reviewduck/src/main/java/com/reviewduck/config/xss/HTMLCharacterEscapes.java
  backend/reviewduck/src/main/java/com/reviewduck/config/xss/XssConfig.java
  backend/reviewduck/src/main/resources/lucy-xss-servlet-filter-rule.xml
  backend/reviewduck/src/test/java/com/reviewduck/filter/XssFilterTest.java
Labels: back-end, 기능

#145 모니터링(Prometheus) 관련 Spring actuator 설정 추가
  backend/reviewduck/build.gradle
  backend/reviewduck/src/main/java/com/reviewduck/config/SwaggerConfig.java
  backend/reviewduck/src/main/resources/application.properties
Labels: back-end, 설정

#147 Effect 컴포넌트 추가
  frontend/docs/convention.md
  frontend/src/common/components/Animation/index.tsx
  frontend/src/common/components/Animation/styles.module.scss
  frontend/src/common/components/Effect/index.tsx
  frontend/src/common/components/Effect/styles.module.scss
Labels: front-end, 기능

#150 스토리북 실행되지 않는 문제 & 설정 최신화 작업
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/yarn.lock
Labels: front-end, 설정

#152 [BE] feat : 내 사용자 정보 조회 기능 구현
  backend/reviewduck/src/main/java/com/reviewduck/auth/service/AuthService.java
  backend/reviewduck/src/main/java/com/reviewduck/member/controller/MemberController.java
  backend/reviewduck/src/main/java/com/reviewduck/member/dto/response/MemberResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/member/service/MemberService.java
  backend/reviewduck/src/test/java/com/reviewduck/member/acceptance/MemberAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/domain/MemberTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/repository/MemberRepositoryTest.java
  backend/reviewduck/src/test/java/com/reviewduck/member/service/MemberServiceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/AnswerTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewFormQuestionTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewFormTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/domain/ReviewTest.java
Labels: back-end, 기능

#155 로그파일명 및 경로 변경
  backend/reviewduck/src/main/resources/application.properties
Labels: back-end, 설정

#156 PR 작성 시 테스트 및 빌드 자동화 기능
  .github/workflows/gradle.yml
Labels: back-end, 기능

#157 특정 회고폼을 기반으로 작성한 회고 조회 기능의 데이터 반환 형식 변경
  backend/reviewduck/src/main/java/com/reviewduck/review/controller/ReviewFormController.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/AnswerResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/MyReviewReviewFormResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewResponse.java
  backend/reviewduck/src/main/java/com/reviewduck/review/dto/response/ReviewsResponse.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewAcceptanceTest.java
  backend/reviewduck/src/test/java/com/reviewduck/review/acceptance/ReviewFormAcceptanceTest.java
Labels: back-end, 리팩토링

#159 Github OAuth를 활용한 로그인 및 인증/인가 영역 추가
  frontend/env/development.env
  frontend/env/production.env
  frontend/src/App.tsx
  frontend/src/PageRoutes.tsx
  frontend/src/service/@shared/api/axiosInstance.ts
  frontend/src/service/@shared/api/index.ts
  frontend/src/service/@shared/components/RequireAuth/index.tsx
  frontend/src/service/@shared/constants/index.ts
  frontend/src/service/@shared/hooks/queries/user/useCreateRefreshToken.ts
  frontend/src/service/@shared/hooks/queries/user/useGetAccessToken.ts
  frontend/src/service/@shared/hooks/queries/user/useGetUserProfie.ts
  frontend/src/service/@shared/hooks/useAuth.ts
  frontend/src/service/@shared/pages/Authorize/index.tsx
  frontend/src/service/@shared/types/index.ts
  frontend/src/service/@shared/utils/axiosInstance/index.ts
  frontend/src/service/@shared/utils/axiosInstance/instanceUtils.ts
  frontend/src/service/@shared/utils/axiosInstanceUtils.ts
  frontend/src/service/@shared/utils/index.ts
  frontend/src/service/community/layout/CommunityLayout/index.tsx
  frontend/src/service/review/api/index.ts
  frontend/src/service/review/hooks/queries/useCreateReviewAnswer.ts
  frontend/src/service/review/hooks/queries/useCreateReviewForm.ts
  frontend/src/service/review/hooks/queries/useGetReviewForm.ts
  frontend/src/service/review/hooks/queries/useGetReviews.ts
  frontend/src/service/review/hooks/queries/useUpdateReviewForm.ts
  frontend/src/service/review/types/index.ts
Labels: front-end, 기능
